Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: change route colours and match containers with them
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/styles/SideBar.css
Due: frontend

fix: adjust container colours
  frontend/src/styles/SideBar.css
Due: frontend

add logo and improve styling
  frontend/src/App.tsx
  frontend/src/assets/images/ecopaths_logo_no_text.jpg
  frontend/src/styles/App.css
  frontend/src/types/images.d.ts
Due: frontend

Increased zoom padding by 30
  frontend/src/components/MapComponent.tsx
Due: frontend

feat: implement landuse influence calculations and integrate into preprocessing pipeline #238
  backend/preprocessor/env_influence.py
  backend/preprocessor/landuse_influence.py
  backend/preprocessor/osm_preprocessor.py
  backend/src/config/influence_weights.py
  backend/src/database/db_client.py
  backend/src/database/db_models.py
  tasks.py
Due: backend

fix bug (user can change area when error popup is visible)
  backend/.gitignore
  frontend/src/App.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/styles/App.css
  frontend/src/styles/AreaSelector.css
Due: frontend

Create backend functionality for custom route fetching
  backend/src/main.py
  backend/src/services/route_service.py
Due: backend

Add slider to fetch custom routes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/customRouteApi.ts
  frontend/src/api/routeApi.ts
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/RouteSlider.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/styles/LoadingSpinner.css
  frontend/src/styles/RouteInfoCard.css
  frontend/src/styles/RouteSlider.css
  frontend/src/styles/SideBar.css
Due: frontend

Add slider test and fix existing tests
  frontend/tests/components/RouteInfoCard.test.tsx
  frontend/tests/components/RouteSlider.test.tsx
  frontend/tests/components/SideBar.test.tsx
Due: none

Merged files
  backend/src/core/route_algorithm.py
  backend/src/utils/route_summary.py
  backend/tests/unit/services/test_route_service.py
Due: backend

feat: update RedisService methods to include area parameter #218
  backend/src/services/redis_service.py
  backend/src/services/route_service.py
  backend/tests/unit/services/test_redis_service.py
  backend/tests/unit/services/test_route_service.py
Due: backend

clear when changing area
  backend/src/main.py
  frontend/src/App.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useRoute.ts
Due: backend, frontend

merge file
  backend/src/main.py
Due: backend

Change place of aqi button
  frontend/src/components/SideBar.tsx
Due: frontend

merge file
  backend/tests/unit/test_main.py
Due: none

updated algoirthm to use normalized_aqi from edge instead of computing, added 0.01 to normalized_aqi
  backend/src/core/route_algorithm.py
Due: backend

fix tests
  frontend/tests/hooks/useHighlightChosenArea.test.ts
Due: none

fix lint
  backend/src/core/route_algorithm.py
Due: backend

modify readme
  README.md
Due: none

Delete test_berlin function from test_main.py
  backend/tests/unit/test_main.py
Due: none

Update test
  frontend/tests/hooks/useRoute.test.ts
Due: none

fix: remove google api key from docker build and move it to oc secrets
  .github/workflows/ci-cd.yml
  Dockerfile
  manifests/deployment.yaml
Due: none

fix: change opacity for chosen city highlight
  frontend/src/hooks/useHighlightChosenArea.ts
Due: frontend

Feature/select city (#235)
  README.md
  backend/.env.test
  backend/preprocessor/edge_cleaner_sql.py
  backend/preprocessor/traffic_influence.py
  backend/src/config/settings.py
  backend/src/core/route_algorithm.py
  backend/src/main.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/test_main.py
  dump.rdb
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/routeApi.ts
  frontend/src/components/AreaSelector.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useHighlightChosenArea.ts
  frontend/src/hooks/useRoute.ts
  frontend/src/styles/App.css
  frontend/src/styles/AreaSelector.css
  frontend/src/styles/SideBar.css
  frontend/src/types/index.ts
  frontend/tests/components/AreaSelector.test.tsx
  frontend/tests/components/MapComponent.test.tsx
  frontend/tests/components/SideBar.test.tsx
  frontend/tests/hooks/useHighlightChosenArea.test.ts
Due: backend, frontend

feat: add database population instructions to openshift manual
  documentation/docker_openshift_manual.md
Due: none

feat: update RedisService methods to include area parameter #218 (#240)
  backend/src/services/redis_service.py
  backend/src/services/route_service.py
  backend/tests/unit/services/test_redis_service.py
  backend/tests/unit/services/test_route_service.py
Due: backend

fix area highlight to change dynamically
  backend/tests/unit/test_main.py
  frontend/src/hooks/useHighlightChosenArea.ts
Due: frontend

fix tests for area highlight
  frontend/src/hooks/useHighlightChosenArea.ts
  frontend/tests/hooks/useHighlightChosenArea.test.ts
Due: frontend

change loading spinner color
  frontend/src/styles/AreaSelector.css
Due: frontend

fix: add DB_URL to DatabaseConfig for deployment
  backend/src/config/settings.py
Due: backend

feat: modify osmpreprocessor to work with landuse #238
  backend/preprocessor/env_influence.py
  backend/preprocessor/landuse_influence.py
  backend/preprocessor/osm_preprocessor.py
  backend/preprocessor/osm_validation.py
  backend/preprocessor/traffic_influence.py
  backend/src/database/db_client.py
  backend/src/database/db_models.py
  backend/tests/unit/preprocessor/test_osm_preprocessor.py
  backend/tests/unit/preprocessor/test_osm_validator.py
  tasks.py
Due: backend

fix: update test in useHighlightChosenArea.test.ts
  frontend/tests/hooks/useHighlightChosenArea.test.ts
Due: none

Feature/select city (#243)
  frontend/src/hooks/useHighlightChosenArea.ts
  frontend/tests/hooks/useHighlightChosenArea.test.ts
Due: frontend

Feature/add logo (#244)
  backend/.gitignore
  frontend/src/App.tsx
  frontend/src/assets/images/ecopaths_logo_no_text.jpg
  frontend/src/components/SideBar.tsx
  frontend/src/styles/App.css
  frontend/src/styles/AreaSelector.css
  frontend/src/types/images.d.ts
Due: frontend

Added tests, fixed new node existing errors, updated .pylintcr
  backend/.pylintrc
  backend/src/core/route_algorithm.py
  backend/src/services/route_service.py
  backend/tests/unit/core/test_algorithm.py
  backend/tests/unit/services/test_route_service.py
Due: backend

removed debug print
  backend/src/services/route_service.py
Due: backend

Refactored init_graph to build igraph more efficiently
  backend/src/core/route_algorithm.py
Due: backend

fixed algorithm to get normalized_aqi
  backend/src/core/route_algorithm.py
Due: backend

Feature/slider (#242)
  backend/src/main.py
  backend/src/services/route_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/customRouteApi.ts
  frontend/src/api/routeApi.ts
  frontend/src/components/MapComponent.tsx
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/RouteSlider.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useRoute.ts
  frontend/src/styles/RouteInfoCard.css
  frontend/src/styles/RouteSlider.css
  frontend/src/styles/SideBar.css
  frontend/tests/components/RouteInfoCard.test.tsx
  frontend/tests/components/RouteSlider.test.tsx
  frontend/tests/components/SideBar.test.tsx
  frontend/tests/hooks/useRoute.test.ts
Due: backend, frontend

Path conditions:
  backend: any of: backend/src/, preprocessor/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
  frontend: any of: frontend/src/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
