Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Change css and add text
  frontend/src/components/DisclaimerModal.tsx
  frontend/src/styles/DisclaimerModal.css
Due: frontend

Add tests
  frontend/src/components/DisclaimerModal.tsx
  frontend/tests/components/DisclaimerModal.test.tsx
Due: frontend

fix map flyto for mobile
  frontend/src/components/MapComponent.tsx
  frontend/src/utils/mapBounds.ts
  frontend/tests/utils/mapBounds.test.ts
Due: frontend

fix: commiting tests I accidentally deleted
  frontend/tests/components/SideBar.test.tsx
Due: none

Small fix
  backend/src/services/route_service.py
  frontend/src/components/MapComponent.tsx
Due: backend, frontend

fix: fix for invalid LngLat object Nan,Nan error
  frontend/src/components/MapComponent.tsx
  frontend/tests/AreaContext.test.tsx
Due: frontend

Init Admin dashboard
  backend/src/app.py
  backend/src/endpoints/admin.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/EcoPathsApp.tsx
  frontend/src/components/AdminDashboard.tsx
Due: backend, frontend

Refactor sidebar tests and mapbox mock #370
  frontend/src/setupTests.ts
  frontend/tests/components/SideBar.test.tsx
Due: frontend

Link admin dash back to front
  backend/src/app.py
  backend/src/config/settings.py
  backend/src/endpoints/admin.py
  frontend/src/App.tsx
  frontend/src/EcoPathsApp.tsx
  frontend/src/components/AdminDashboard.tsx
  frontend/src/components/DisclaimerModal.tsx
Due: backend, frontend

add possibility to clear input boxes easily
  frontend/src/components/InputContainer.tsx
  frontend/src/styles/App.css
Due: frontend

fix desktop map focus
  frontend/src/components/MapComponent.tsx
Due: frontend

add tests for input box clearing
  frontend/tests/components/InputContainer.test.tsx
Due: none

feat: integrate AQI legend into MapComponent and improve styling #370
  backend/src/services/route_service.py
  frontend/src/components/AQILegend.tsx
  frontend/src/components/ExposureChart.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/contexts/ExposureOverlayContext.tsx
  frontend/src/styles/ExposureChart.css
  frontend/src/styles/RouteInfoCard.css
  frontend/tests/components/AQILegend.tsx
  frontend/tests/components/ExposureChart.test.tsx
  frontend/tests/components/RouteInfoCard.test.tsx
  frontend/tests/components/SideBar.test.tsx
  frontend/tests/context/ExposureOverlayContext.test.tsx
  frontend/tests/hooks/useGeolocationState.test.ts
Due: backend, frontend

feat: replace print statements with logging in compute_exposure function #370
  backend/src/utils/exposure_calculator.py
Due: backend

feat: update logging format in compute_exposure and add spacing in test fixtures #370
  backend/src/utils/exposure_calculator.py
  backend/tests/unit/endpoints/test_geocode.py
  backend/tests/unit/services/test_google_api_service.py
Due: backend

feat: changed numerical coordinates to 'Your location' text
  frontend/src/components/SideBar.tsx
Due: frontend

feat: implement streaming for multiple loop routes and update related components #373
  backend/src/core/edge_enricher.py
  backend/src/endpoints/routes.py
  frontend/src/api/routeApi.ts
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/hooks/useLoopRoute.ts
  frontend/src/styles/SideBar.css
  frontend/src/types/route.ts
  frontend/tests/components/SideBar.test.tsx
  frontend/tests/hooks/useDrawRoutes.test.ts
  frontend/tests/hooks/useLoopRoute.test.ts
Due: backend, frontend

feat: removed unused comment
  frontend/src/components/SideBar.tsx
Due: frontend

feat: added test
  frontend/tests/components/SideBar.currentLocation.test.tsx
Due: none

fix: improve error handling for geocoding responses
  backend/src/endpoints/geocode.py
Due: backend

Fix lint
  frontend/src/components/DisclaimerModal.tsx
  frontend/src/styles/DisclaimerModal.css
Due: frontend

Fix lint
  backend/src/endpoints/geocode.py
Due: backend

fix failing test
  frontend/tests/components/SideBar.test.tsx
Due: none

feat: fix test
  frontend/src/components/SideBar.tsx
  frontend/tests/components/SideBar.currentLocation.test.tsx
Due: frontend

fix failing tests
  frontend/tests/components/SideBar.test.tsx
Due: none

Adjust map zoom for mobile
  frontend/src/components/MapComponent.tsx
Due: frontend

Add test for fitbounds and fix
  frontend/tests/components/MapComponent.test.tsx
  frontend/tests/components/SideBar.test.tsx
Due: none

feat/adjust three loops to be seen on map #373
  backend/src/endpoints/routes.py
  backend/src/services/loop_route_service.py
  backend/src/services/route_service.py
  backend/tests/unit/endpoints/test_routes.py
  backend/tests/unit/services/test_loop_route_service.py
  backend/tests/unit/services/test_route_service.py
  frontend/jest.config.ts
  frontend/src/App.tsx
  frontend/src/api/routeApi.ts
  frontend/src/components/MapComponent.tsx
  frontend/src/hooks/useAreaHandlers.ts
  frontend/src/styles/SideBar.css
  frontend/tests/App.test.tsx
  frontend/tests/components/ErrorPopup.test.tsx
  frontend/tests/hooks/useAreaHandlers.test.ts
Due: backend, frontend

fix: add return type to handleLoopMessage #373
  frontend/src/hooks/useLoopRoute.ts
Due: frontend

feat: update error popup comments to English for consistency #373
  frontend/src/styles/ErrorPopup.css
Due: frontend

Changed _enritch_missing_tiles fallback last return to be None to fix bug #420
  backend/src/services/route_service.py
Due: backend

added changes from feat/incremental-increase-of-buffer on top of latest branch
  backend/src/services/route_service.py
  backend/tests/unit/services/test_route_service.py
Due: backend

fix: update return value in route enrichment to ensure consistent GeoDataFrame structure #373
  backend/src/services/route_service.py
  frontend/src/styles/ErrorPopup.css
Due: backend, frontend

feat: adjust loop distance parameters to a maximum of 5km in API and frontend components #373
  backend/src/endpoints/geocode.py
  backend/src/endpoints/routes.py
  backend/src/services/loop_route_service.py
  backend/tests/unit/endpoints/test_routes.py
  frontend/src/components/LoopDistanceSlider.tsx
Due: backend, frontend

fix: update logo file name
  frontend/src/App.tsx
  frontend/src/assets/images/ecopaths-logo-with-text.jpg
  frontend/tests/App.test.tsx
Due: frontend

buffer increase ontop of dev
  backend/src/services/route_service.py
  backend/tests/unit/services/test_route_service.py
Due: backend

feat: add DisclaimerModal component and integrate into App header
  frontend/src/App.tsx
  frontend/src/components/DisclaimerModal.tsx
  frontend/src/styles/App.css
  frontend/src/styles/DisclaimerModal.css
  frontend/tests/components/DisclaimerModal.test.tsx
Due: frontend

feat: enhance route computation error handling and logging
  backend/src/core/route_algorithm.py
  backend/src/services/route_service.py
  backend/tests/unit/services/test_route_service.py
Due: backend

feat: add tests for error handling
  backend/tests/unit/services/test_route_service.py
Due: none

feat: update route drawing logic to always use selectedRoute
  frontend/src/components/MapComponent.tsx
Due: frontend

Path conditions:
  backend: any of: backend/src/, preprocessor/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
  frontend: any of: frontend/src/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
