Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix lint again
  backend/tests/unit/services/test_route_service.py
Due: none

reduce codecov coverage
  codecov.yml
Due: none

add tests for edge enricher
  backend/src/services/route_service.py
  backend/tests/unit/core/test_edge_enrichment_model.py
Due: backend

Remove trailing newline in route_service.py
  backend/src/services/route_service.py
Due: backend

Reduce coverage target to 40% in codecov.yml
  codecov.yml
Due: none

Fix formatting and clarify backend instructions
  README.md
Due: none

Update coverage target in codecov.yml
  codecov.yml
Due: none

Update README.md
  README.md
Due: none

Fix formatting issues in README.md
  README.md
Due: none

feat: add functionality to show multiple route info
  backend/src/utils/route_summary.py
  frontend/src/components/DisplayContainer.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/styles/DisplayContainer.css
  frontend/src/styles/SideBar.css
Due: backend, frontend

fixed _get_tile_edges to work when tiles expire during enriching of new tiles
  backend/src/services/route_service.py
  backend/src/utils/redis_utils.py
  backend/tests/unit/utils/test_redis_utils.py
Due: backend

fix: fix unit tests
  backend/tests/unit/utils/test_route_summary.py
  frontend/tests/components/DisplayContainer.test.tsx
Due: none

fix: update documentation
  frontend/tests/components/DisplayContainer.test.tsx
Due: none

modify readme
  backend/README.md
Due: none

fix: change AQ value references to AQI in route_summary
  backend/src/utils/route_summary.py
Due: backend

fix: update dockerfile and increase resources for openshift deployment
  Dockerfile
  documentation/docker_openshift_manual.md
  manifests/deployment.yaml
Due: none

fix: update automated docker build
  .github/workflows/ci-cd.yml
Due: none

feat: Introduce complete database layer with dynamic models and PostGIS integration #77
  backend/.env.example
  backend/poetry.lock
  backend/preprocessor/osm_downloader.py
  backend/preprocessor/osm_preprocessor.py
  backend/pyproject.toml
  backend/src/config/columns.py
  backend/src/config/settings.py
  backend/src/core/edge_enricher.py
  backend/src/database/__init__.py
  backend/src/database/db_client.py
  backend/src/database/db_connection.py
  backend/src/database/db_models.py
  backend/src/services/google_api_service.py
  backend/src/services/route_service.py
  backend/src/utils/grid.py
  backend/src/utils/redis_utils.py
  backend/tests/unit/config/test_settings.py
  backend/tests/unit/core/test_edge_enricher.py
  backend/tests/unit/core/test_edge_enrichment_model.py
  backend/tests/unit/database/__init__.py
  backend/tests/unit/database/test_db_client.py
  backend/tests/unit/database/test_db_connection.py
  backend/tests/unit/database/test_db_models.py
  backend/tests/unit/preprocessor/test_osm_downloader.py
  backend/tests/unit/preprocessor/test_osm_preprocessor.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/utils/test_grid.py
  backend/tests/unit/utils/test_redis_utils.py
  tasks.py
Due: backend

fix: remove test helper #77
  backend/src/services/route_service.py
  backend/tests/unit/services/test_route_service.py
Due: backend

fix: Add db instructions to Readme #77
  README.md
Due: none

fix: config codecov
  .github/workflows/ci-cd.yml
  codecov.yml
Due: none

fix: remove outdated lines from codecov.yml
  codecov.yml
Due: none

feat: change docker job trigger to pull_request on dev branch for testing purposes #204
  .github/workflows/ci-cd.yml
Due: none

fix: update ci/cd workflow conditions for docker build
  .github/workflows/ci-cd.yml
Due: none

Fix: Changed RedisUtils to RedisService, updated imports #185
  backend/src/services/redis_service.py
  backend/src/services/route_service.py
  backend/tests/unit/services/test_redis_service.py
Due: backend

fix: update docker job conditions in ci/cd workflow
  .github/workflows/ci-cd.yml
Due: none

feat: add database population job and improve docker build structure
  .github/workflows/ci-cd.yml
  Dockerfile
  backend/src/config/settings.py
  kustomization.yaml
  manifests/configmap_template.yaml
  manifests/deployment.yaml
  manifests/populate_db.yaml
Due: backend

fix: update configmap_template.yaml
  manifests/configmap_template.yaml
Due: none

feat: move creating nodes to preprocessor and add indexes to database for better search. Refactor cleaning of edges from gdf to database #155
  backend/.env.example
  backend/preprocessor/edge_cleaner_sql.py
  backend/preprocessor/node_builder.py
  backend/preprocessor/osm_preprocessor.py
  backend/src/config/columns.py
  backend/src/core/edge_enricher.py
  backend/src/database/db_client.py
  backend/src/database/db_connection.py
  backend/src/database/db_models.py
  backend/src/main.py
  backend/src/services/route_service.py
  backend/tests/unit/database/test_db_client.py
  backend/tests/unit/database/test_db_connection.py
  backend/tests/unit/database/test_db_models.py
  tasks.py
Due: backend

feat: add tests to new preprocessor classes #155
  backend/tests/unit/preprocessor/test_edge_cleaner_sql.py
  backend/tests/unit/preprocessor/test_node_builder.py
  backend/tests/unit/preprocessor/test_osm_preprocessor.py
Due: none

fix: pylint whitespace 155
  backend/src/database/db_client.py
  backend/src/services/route_service.py
Due: backend

fix: improve database related invoke tasks #155
  tasks.py
Due: none

feat: better node handling in NodeBuilder and tests #155
  .github/workflows/ci-cd.yml
  backend/poetry.lock
  backend/preprocessor/edge_cleaner_sql.py
  backend/preprocessor/node_builder.py
  backend/preprocessor/osm_preprocessor.py
  backend/pyproject.toml
  backend/src/config/columns.py
  backend/src/database/db_client.py
  backend/src/database/db_models.py
  backend/src/services/route_service.py
  backend/tests/unit/database/test_db_client.py
  backend/tests/unit/database/test_db_models.py
  backend/tests/unit/preprocessor/test_edge_cleaner_sql.py
  backend/tests/unit/preprocessor/test_node_builder.py
  backend/tests/unit/preprocessor/test_osm_preprocessor.py
Due: backend

fix: update readme with database setup instructions #155
  README.md
Due: none

fix: set up test enviroment for ci-cd pipeline and adjust nodebuilder #155
  .github/workflows/ci-cd.yml
  .gitignore
  backend/.env.example
  backend/preprocessor/edge_cleaner_sql.py
  backend/preprocessor/node_builder.py
  backend/preprocessor/osm_preprocessor.py
  backend/setup_databases.sh
  backend/src/config/settings.py
  backend/tests/unit/preprocessor/test_edge_cleaner_sql.py
  backend/tests/unit/preprocessor/test_node_builder.py
  tasks.py
Due: backend

fix ci-cd pipeline database config #155
  .github/workflows/ci-cd.yml
Due: none

fix: disable duplicate postgis in ci-cd #155
  .github/workflows/ci-cd.yml
Due: none

fix: add correct database to be waited #155
  .github/workflows/ci-cd.yml
Due: none

fix: add longer sleeptime to wait for postgis
  .github/workflows/ci-cd.yml
Due: none

fix: More time to sleep and remove not important port #155
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  backend: any of: backend/src/, preprocessor/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
  frontend: any of: frontend/src/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
