Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        if_not_found: success
    patch:
      default:
        target: 00%
        threshold: 5%


comment:
  layout: "reach, diff, files"
  behavior: hide
  require_changes: true
  branches: [main, dev]
  show_critical_paths: true
  show_carryforward_flags: true
  require_base: yes

ignore:
  - "**/__init__.py"
  - "**/tests/*"
  - "**/.venv/*"
  - "**/migrations/*"
  - "**/*.d.ts"
  - "**/__mocks__/**"
  - "frontend/test-utils/"

flags:
  backend:
    paths:
      - backend/src/
      - preprocessor/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

feat: adjust margin-bottom for warning box in DisclaimerModal
  frontend/src/styles/DisclaimerModal.css
Due: frontend

feat: update disclaimer text for clarity and detail in usage instructions
  frontend/src/components/DisclaimerModal.tsx
Due: frontend

Fix multiple_users bug
  backend/src/endpoints/geocode.py
  backend/src/endpoints/routes.py
  backend/src/services/route_service.py
  backend/tests/unit/endpoints/test_geocode.py
  backend/tests/unit/endpoints/test_routes.py
  backend/tests/unit/services/test_route_service.py
  frontend/src/App.tsx
  frontend/src/api/routeApi.ts
  frontend/src/components/AreaSelector.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/contexts/AreaContext.tsx
  frontend/src/hooks/useLoopRoute.ts
  frontend/src/hooks/useRoute.ts
  frontend/src/index.tsx
  frontend/tests/App.test.tsx
  frontend/tests/api/routeApi.test.ts
  frontend/tests/components/AreaSelector.test.tsx
  frontend/tests/context/AreaContext.test.tsx
  frontend/tests/hooks/useLoopRoute.test.tsx
  frontend/tests/hooks/useRoute.test.tsx
Due: backend, frontend

configure area dropdown button color and add buttons for clearing input boxes
  backend/src/app.py
  frontend/src/styles/App.css
Due: backend, frontend

Remove useless wrapper
  frontend/src/index.tsx
  tasks.py
Due: frontend

adjust z-index value for info-button so it doesn't overlap the info popup
  frontend/src/styles/App.css
  frontend/src/styles/DisclaimerModal.css
Due: frontend

remove some origins
  backend/src/app.py
  frontend/src/styles/App.css
Due: backend, frontend

Fix/mobile styling and clear buttons (#444)
  backend/src/app.py
  frontend/src/styles/App.css
  frontend/src/styles/DisclaimerModal.css
Due: backend, frontend

fix: improve mobile UI with exposure chart positioning
  backend/src/app.py
  frontend/src/styles/ExposureChart.css
  frontend/src/styles/SideBar.css
Due: backend, frontend

Add WIKI link to README documentation
  README.md
Due: none
