Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Feature/integrate db with openshift #204 (#245)
  .github/workflows/ci-cd.yml
  Dockerfile
  backend/src/config/settings.py
  documentation/docker_openshift_manual.md
  frontend/src/hooks/useHighlightChosenArea.ts
  frontend/tests/hooks/useHighlightChosenArea.test.ts
  manifests/deployment.yaml
Due: backend, frontend

added tests, fixed edge not drawing to origin or destination node
  backend/src/core/route_algorithm.py
  backend/tests/unit/core/test_algorithm.py
Due: backend

removed prints, merge
  backend/src/core/route_algorithm.py
Due: backend

merge
  frontend/package-lock.json
Due: none

fix how getroute calls compute_routes
  backend/src/services/route_service.py
Due: backend

fix lint
  backend/src/services/route_service.py
Due: backend

Lowered impact of traffic influence in edgeenricher
  backend/src/core/edge_enricher.py
Due: backend

Add customRouteApi tests
  frontend/tests/api/customRouteApi.test.ts
Due: none

Add more useRoute tests
  frontend/tests/hooks/useRoute.test.ts
Due: none

Change test back to original
  frontend/tests/hooks/useRoute.test.ts
Due: none

Untested working version of only computing balanced
  backend/src/core/route_algorithm.py
  backend/src/main.py
  backend/src/services/route_service.py
  frontend/src/hooks/useRoute.ts
Due: backend, frontend

fix: remove.env.test from version control
  .gitignore
  backend/.env.test
  backend/.gitignore
Due: none

fix bug where old route is still visible when searching for a new one
  frontend/src/hooks/useRoute.ts
Due: frontend

fix: update tile timeout in redis to be 3h
  backend/src/services/redis_service.py
Due: backend

fix:fix indenting of secretKeyRef
  manifests/deployment.yaml
Due: none

fix: adjust deployment resource requests and limits
  manifests/deployment.yaml
Due: none

feat: enhance OSM data processing and storage
  backend/preprocessor/osm_downloader.py
  backend/preprocessor/osm_preprocessor.py
  backend/preprocessor/traffic_influence.py
  backend/src/config/columns.py
  backend/src/config/settings.py
  backend/src/database/db_client.py
  backend/src/database/db_models.py
  backend/tests/unit/config/test_settings.py
  backend/tests/unit/database/test_db_client.py
  backend/tests/unit/preprocessor/test_osm_downloader.py
  backend/tests/unit/preprocessor/test_osm_preprocessor.py
  backend/tests/unit/preprocessor/test_traffic_influence.py
  setup.sh
  tasks.py
Due: backend

fix: update AQI calculation to use environmental influence directly
  backend/src/core/edge_enricher.py
Due: backend

fix: update map colours #299
  frontend/src/components/MapComponent.tsx
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/setupTests.ts
  frontend/tests/components/MapComponent.test.tsx
  frontend/tests/hooks/useDrawRoutes.test.ts
Due: frontend

refactor: remove unused useCoordinates hook
  frontend/src/hooks/useCoordinates.ts
Due: frontend

fix: disable interaction while zooming #288
  frontend/src/components/MapComponent.tsx
Due: frontend

fix: update docker_openshift_manual.md and .gitignore
  .gitignore
  documentation/docker_openshift_manual.md
Due: none

added tests
  backend/src/services/route_service.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/test_main.py
  frontend/src/hooks/useRoute.ts
  frontend/tests/hooks/useRoute.test.ts
Due: backend, frontend

fix: added a check for exact duplicates
  backend/src/main.py
Due: backend

fix: Added a function for removing OSM double features
  backend/src/main.py
Due: backend

fix: refactored code into its own files for clarity
  backend/src/main.py
  backend/src/utils/address_suggestions.py
Due: backend

fix:fixed tests for address suggestions
  backend/tests/unit/test_main.py
  backend/tests/unit/utils/test_address_suggestions.py
Due: none

fix:refactor main.py to be more modular #150
  backend/src/app.py
  backend/src/endpoints/__init__.py
  backend/src/endpoints/areas.py
  backend/src/endpoints/geocode.py
  backend/src/endpoints/routes.py
  backend/src/endpoints/static.py
  backend/src/main.py
  backend/src/services/route_service.py
  backend/src/utils/decorators.py
  backend/src/utils/poi_utils.py
  backend/tests/unit/core/test_algorithm.py
  backend/tests/unit/endpoints/__init__.py
  backend/tests/unit/endpoints/test_areas.py
  backend/tests/unit/endpoints/test_geocode.py
  backend/tests/unit/endpoints/test_routes.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/test_app.py
  backend/tests/unit/test_main.py
  backend/tests/unit/utils/test_decorators.py
  backend/tests/unit/utils/test_poi_utils.py
  frontend/src/api/customRouteApi.ts
  frontend/src/api/routeApi.ts
  frontend/src/hooks/useRoute.ts
  frontend/tests/api/routeApi.test.ts
Due: backend, frontend

fix: remove highlighht while aqi is shown
  frontend/src/hooks/useDrawRoutes.ts
Due: frontend

fix: corrected linting errors
  backend/src/main.py
  backend/src/utils/address_suggestions.py
  backend/tests/unit/utils/test_address_suggestions.py
Due: backend

fix: corrected too long line linting error
  backend/src/main.py
Due: backend

fix: adjust google api service to fetch the us aqi index instead of the universal aqi index, and add fetching of pollutants
  backend/src/config/settings.py
  backend/src/services/google_api_service.py
Due: backend

fix: remove trailing whitespace
  backend/src/config/settings.py
Due: backend

fix: update unit tests for google api service
  backend/tests/unit/services/test_google_api_service.py
Due: none

fix: adjust areaconfig init so that all tests pass
  backend/src/config/settings.py
Due: backend

fix: fix the bug where autofill suggestions pop back up after location is chosen #264
  frontend/src/components/SideBar.tsx
Due: frontend

fix: add more safeguards for the bug with autofill suggestions popping up
  frontend/src/components/InputContainer.tsx
  frontend/src/components/SideBar.tsx
Due: frontend

fix: update a test for sidebar
  frontend/tests/components/SideBar.test.tsx
Due: none

feat: add jest tests for sidebar
  frontend/tests/components/SideBar.test.tsx
Due: none

increased buffer by 200m to fix some routes failing to fetch
  backend/src/services/route_service.py
Due: backend

Path conditions:
  backend: any of: backend/src/, preprocessor/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
  frontend: any of: frontend/src/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
