Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: change image to kartoza, for not shutting down after init #155
  .github/workflows/ci-cd.yml
Due: none

fix: echo TCP connection #155
  .github/workflows/ci-cd.yml
  backend/init-db.sh
Due: none

fix: modify init-db script #155
  backend/init-db.sh
Due: none

fix: rerun workflow #155
  backend/init-db.sh
Due: none

fix: last desperate try #155
  .github/workflows/ci-cd.yml
  backend/init-db.sh
Due: none

feat: add functionality to limit autofill suggestions to areaconfig bbox #191
  backend/src/main.py
Due: backend

fix: set ENV:test to connect with right database #155
  .github/workflows/ci-cd.yml
Due: none

fix: add print to figure out the problem #155
  .github/workflows/ci-cd.yml
Due: none

fix: add more indicator to detect the problem #155
  .github/workflows/ci-cd.yml
Due: none

fix: try with export pgpassword #155
  .github/workflows/ci-cd.yml
Due: none

fix: replace ports and and local address to pg_isready #155
  .github/workflows/ci-cd.yml
Due: none

fix: adjust env host to localhost
  .github/workflows/ci-cd.yml
Due: none

feat: add tests for geocode forward
  backend/tests/integration/test_main.py
Due: none

fix: format tests with autopep8
  backend/tests/integration/test_main.py
Due: none

feat: add tests for geocode_forward in main.py
  backend/tests/integration/test_main.py
Due: none

added test for _get_tile_edges
  backend/tests/unit/services/test_route_service.py
Due: none

optimized _get_tile_edges
  backend/src/services/route_service.py
Due: backend

fixed fetching non-found tiles seperately
  backend/src/services/redis_service.py
Due: backend

fix: fix test_get_tile_edges to work with optimizations
  backend/tests/unit/services/test_route_service.py
Due: none

First version of modified e2e tests
  .github/workflows/e2e-test.yml
  .gitignore
  e2e/playwright/fixtures/mockData.ts
  e2e/playwright/helpers/apiMock.ts
  e2e/playwright/tests/routing.spec.ts
  e2e/robot/frontend.robot
  e2e/robot/resource.robot
  playwright.config.ts
  tasks.py
Due: none

Fix: update invoke task and readme #155
  README.md
  tasks.py
Due: none

bugfix: Berlin zoo not connected to main network
  backend/preprocessor/edge_cleaner_sql.py
  backend/preprocessor/node_builder.py
  backend/tests/unit/preprocessor/test_edge_cleaner_sql.py
  backend/tests/unit/preprocessor/test_node_builder.py
Due: none

remove test
  e2e/playwright/tests/routing.spec.ts
Due: none

feat: add more tests for geocode forward in main.py
  backend/tests/integration/test_main.py
Due: none

fix: move test_main.py from integration test dir to unit test dir
  backend/tests/unit/test_main.py
Due: none

"feat: setup database to run in docker. update instructions in readme and add setup.sh to run docker and setup datababes #155
  .github/workflows/ci-cd.yml
  README.md
  backend/.env.example
  backend/setup_databases.sh
  backend/src/config/settings.py
  backend/src/services/redis_cache.py
  docker-compose.yaml
  setup.sh
  tasks.py
Due: backend

Improve README formatting and command instructions
  README.md
Due: none

Improve formatting of .env instructions in README
  README.md
Due: none

Modify reset command for test database
  README.md
Due: none

fix: jest collects all files src in coverage report # 216
  frontend/jest.config.ts
Due: none

add city selector component
  backend/src/main.py
  dump.rdb
  frontend/src/App.tsx
  frontend/src/components/CitySelector.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/styles/App.css
  frontend/src/styles/CitySelector.css
Due: backend, frontend

Refactor e2e tests
  .gitignore
  backend/src/main.py
  e2e/playwright/fixtures/air-quality-data/berlin_aq.geojson
  e2e/playwright/fixtures/air-quality-data/berlin_grid.geojson
  e2e/playwright/fixtures/mockData.ts
  e2e/playwright/tests/routing.spec.ts
  tsconfig.json
Due: backend

fix: add env example to read me #155
  README.md
  backend/.env.example
Due: none

Fix lint
  backend/src/config/settings.py
  backend/src/main.py
Due: backend

fix: invoke run-all check if db is already running #155
  tasks.py
Due: none

modify settings.py with focus point for area config
  backend/.env.test
  backend/src/config/settings.py
Due: backend

add cities endpoint to main.py
  backend/src/config/settings.py
  backend/src/main.py
Due: backend

Change name DisplayContainer --> RouteInfoCard
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/SideBar.tsx
  frontend/tests/components/DisplayContainer.test.tsx
Due: frontend

add city selector ui - fetches available cities from cities endpoint - dropdown button opens city selector
  backend/src/config/settings.py
  backend/src/main.py
  dump.rdb
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/routeApi.ts
  frontend/src/components/CitySelector.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useRoute.ts
  frontend/src/styles/App.css
  frontend/src/types/index.ts
Due: backend, frontend

Path conditions:
  backend: any of: backend/src/, preprocessor/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
  frontend: any of: frontend/src/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
