Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        if_not_found: success
    patch:
      default:
        target: 00%
        threshold: 5%


comment:
  layout: "reach, diff, files"
  behavior: hide
  require_changes: true
  branches: [main, dev]
  show_critical_paths: true
  show_carryforward_flags: true
  require_base: yes

ignore:
  - "**/__init__.py"
  - "**/tests/*"
  - "**/.venv/*"
  - "**/migrations/*"
  - "**/*.d.ts"
  - "**/__mocks__/**"
  - "frontend/test-utils/"

flags:
  backend:
    paths:
      - backend/src/
      - preprocessor/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

fix: add pragma: no cover to ignore coverage
  backend/src/app.py
  backend/src/endpoints/static.py
Due: backend

fix: add more pragma: no cover
  backend/src/app.py
  backend/src/endpoints/static.py
Due: backend

fix: add pragma: no cover to all lines
  backend/src/app.py
  backend/src/endpoints/static.py
Due: backend

fix: remove pragma: no covers from functions and add desired functions to .coveragerc exclude lines
  backend/.coveragerc
  backend/src/app.py
  backend/src/endpoints/static.py
Due: backend

fix: one liner to check if the ToSuggestions has already been selected before
  frontend/src/components/SideBar.tsx
Due: frontend

fix: update MapComponent to handle loop mode and adjust marker behavior #394
  frontend/src/components/MapComponent.tsx
  frontend/tests/components/MapComponent.test.tsx
Due: frontend

fix: correct comment for marker position in MapComponent #394
  frontend/src/components/MapComponent.tsx
Due: frontend

fix: add optional chaining for suggestions in InputContainer component #402
  frontend/src/components/InputContainer.tsx
Due: frontend

fix: enhance marker and zoom logic for loop and normal routing modes in MapComponent #394
  frontend/src/components/MapComponent.tsx
Due: frontend

feat: update loop slider styles with new color variables and improved thumb design #398
  frontend/src/styles/LoopDistanceSlider.css
Due: frontend

fix: update MapComponent to handle loop mode and adjust marker behavior #394 (#395)
  frontend/src/components/MapComponent.tsx
  frontend/tests/components/MapComponent.test.tsx
Due: frontend

/getloop api returns loops as they are computed. routeapi testing phase
  backend/src/endpoints/routes.py
  backend/src/services/route_service.py
  frontend/src/api/routeApi.ts
Due: backend, frontend

set_geojson has been fixed. Checks that is valid geojson before setting.
  backend/src/services/redis_cache.py
  backend/src/services/redis_service.py
  backend/tests/unit/services/test_redis_cache.py
  backend/tests/unit/services/test_route_service.py
Due: backend

fix: add fallback for photon
  backend/.env.example
  backend/src/config/settings.py
  backend/src/endpoints/geocode.py
  backend/tests/unit/endpoints/test_geocode.py
  backend/tests/unit/services/test_google_api_service.py
Due: backend

fix: update readme
  README.md
Due: none

feat: add geoapify key to deployment
  manifests/deployment.yaml
Due: none

fix: adjust tests for github actions
  backend/tests/unit/services/test_google_api_service.py
Due: none

fix: update your route to custom route
  e2e/playwright/tests/routing.spec.ts
  frontend/src/components/SideBar.tsx
  frontend/tests/components/SideBar.test.tsx
Due: frontend

feat: enhance exposure chart and map components with new styles and context #370
  backend/src/core/edge_enricher.py
  backend/src/utils/exposure_calculator.py
  frontend/src/App.tsx
  frontend/src/api/routeApi.ts
  frontend/src/components/ExposureChart.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/contexts/ExposureOverlayContext.tsx
  frontend/src/index.tsx
  frontend/src/styles/ExposureChart.css
  frontend/src/styles/MapComponent.css
  frontend/src/styles/RouteInfoCard.css
  frontend/src/types/index.ts
  frontend/src/types/route.ts
  frontend/tests/components/SideBar.test.tsx
Due: backend, frontend

feat: increase loop slider thumb size #398
  frontend/src/styles/LoopDistanceSlider.css
Due: frontend

adjust updated logo to fit better
  backend/src/endpoints/static.py
  backend/tests/unit/services/test_route_service.py
  frontend/src/App.tsx
  frontend/src/assets/images/ecopaths_logo_with_text.jpg
  frontend/src/styles/App.css
  frontend/tests/App.test.tsx
Due: backend, frontend

Fix balanced route and loop fetch
  backend/src/endpoints/routes.py
  backend/src/services/route_service.py
  backend/tests/unit/services/test_route_service.py
  frontend/src/api/routeApi.ts
  frontend/src/hooks/useLoopRoute.ts
  frontend/src/hooks/useRoute.ts
  frontend/tests/api/routeApi.test.tsx
  frontend/tests/hooks/useLoopRoute.test.tsx
Due: backend, frontend

Fix lint
  backend/src/services/route_service.py
  backend/tests/unit/endpoints/test_geocode.py
  backend/tests/unit/services/test_google_api_service.py
  frontend/tests/api/routeApi.test.tsx
Due: backend

fix: updated the input field to null when input is cleared
  frontend/src/components/SideBar.tsx
Due: frontend

fix: added tests for input fields set as null
  frontend/tests/components/SideBar.test.tsx
Due: none

added handling for empty tiles
  backend/src/core/edge_enricher.py
Due: backend

added test
  backend/tests/unit/core/test_edge_enricher.py
Due: none

added incremental incrase of buffer (+300m, +600m)
  backend/src/services/route_service.py
Due: backend

added test
  backend/tests/unit/services/test_route_service.py
Due: none

fix: update aqi comparison when slider is adjusted
  backend/src/services/route_service.py
  backend/src/utils/aqi_comparison_utils.py
Due: backend

fix: move docs to wiki
  documentation/docker_openshift_manual.md
Due: none

add error popup component for showing errors
  frontend/src/App.tsx
  frontend/src/components/ErrorPopup.tsx
  frontend/src/components/LoopDistanceSlider.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/styles/AreaSelector.css
  frontend/src/styles/ErrorPopup.css
  frontend/tests/components/SideBar.test.tsx
Due: frontend

add tests for error popup
  frontend/src/components/ErrorPopup.tsx
  frontend/tests/components/ErrorPopup.test.tsx
  frontend/tests/components/SideBar.test.tsx
Due: frontend

Init Disclaimer modal version
  frontend/src/App.tsx
  frontend/src/components/DisclaimerModal.tsx
  frontend/src/styles/DisclaimerModal.css
Due: frontend

Refactor and enhance frontend components and styles #370
  backend/src/endpoints/static.py
  backend/src/utils/exposure_calculator.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/utils/test_exposure_calculator.py
  frontend/src/App.tsx
  frontend/src/api/routeApi.ts
  frontend/src/components/ExposureChart.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/contexts/ExposureOverlayContext.tsx
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/index.tsx
  frontend/src/styles/App.css
  frontend/src/styles/ExposureChart.css
  frontend/src/styles/MapComponent.css
  frontend/src/styles/RouteInfoCard.css
  frontend/src/styles/SideBar.css
  frontend/tests/components/MapComponent.test.tsx
  frontend/tests/components/RouteInfoCard.test.tsx
  frontend/tests/components/SideBar.test.tsx
  frontend/tests/hooks/useDrawRoutes.test.ts
Due: backend, frontend

add spinner for route loading
  backend/tests/unit/endpoints/test_geocode.py
  backend/tests/unit/services/test_google_api_service.py
  frontend/src/components/SideBar.tsx
  frontend/src/styles/SideBar.css
Due: frontend

Change css
  frontend/src/components/DisclaimerModal.tsx
  frontend/src/styles/App.css
  frontend/src/styles/DisclaimerModal.css
Due: frontend

fix test
  frontend/tests/components/SideBar.test.tsx
Due: none

Revert docstring
  backend/src/endpoints/routes.py
Due: backend
