Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

update city selector styling
  frontend/src/styles/CitySelector.css
Due: frontend

improved test coverage for route_service.py
  backend/tests/unit/services/test_route_service.py
Due: none

Updated hardcoded crs to use areconfig, updated endpoint to use focus_point from area_config, updated tests
  backend/src/config/settings.py
  backend/src/main.py
  backend/src/services/redis_service.py
  backend/src/services/route_service.py
  backend/tests/unit/services/test_redis_service.py
  backend/tests/unit/services/test_route_service.py
Due: backend

fix areaconfig focus_point
  backend/src/config/settings.py
Due: backend

fixed test
  backend/tests/unit/test_main.py
Due: none

fixed edge_enricher to use areaconfig
  backend/src/core/edge_enricher.py
  backend/src/services/redis_service.py
Due: backend

feat: exract table to take driven roads into account #201
  backend/preprocessor/env_influence.py
  backend/preprocessor/osm_preprocessor.py
  backend/preprocessor/traffic_influence.py
  backend/src/config/columns.py
  backend/src/database/db_models.py
  backend/tests/unit/preprocessor/test_env_influence.py
  backend/tests/unit/preprocessor/test_node_builder.py
  backend/tests/unit/preprocessor/test_osm_preprocessor.py
  backend/tests/unit/preprocessor/test_traffic_influence.py
Due: backend

update styles
  backend/src/core/edge_enricher.py
  backend/src/main.py
  frontend/src/App.tsx
  frontend/src/styles/App.css
  frontend/src/styles/CitySelector.css
Due: backend, frontend

rename city to area for consistency, select-area endpoint receives chosen area from frontend and updates selected_area
  backend/src/main.py
  frontend/src/App.tsx
  frontend/src/components/AreaSelector.tsx
  frontend/src/components/CitySelector.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/hooks/useRoute.ts
  frontend/src/styles/App.css
  frontend/src/styles/AreaSelector.css
  frontend/src/types/index.ts
Due: backend, frontend

fix: setup populates all tables for available cities
  README.md
  setup.sh
  tasks.py
Due: none

feat: calculate enviromental influence from driving network #201
  backend/preprocessor/edge_cleaner_sql.py
  backend/preprocessor/node_builder.py
  backend/preprocessor/osm_preprocessor.py
  backend/preprocessor/traffic_influence.py
  backend/src/config/columns.py
  backend/src/config/influence_weights.py
  backend/src/database/db_client.py
  backend/src/database/db_models.py
  backend/src/services/route_service.py
  backend/tests/unit/preprocessor/test_env_influence.py
  backend/tests/unit/preprocessor/test_traffic_influence.py
Due: backend

feat: remove width functions, not enough rows with the value #201
  backend/preprocessor/osm_preprocessor.py
Due: none

feat: add frontend functionality and endpoint to highlight chosen area
  backend/src/main.py
  frontend/src/components/MapComponent.tsx
  frontend/src/hooks/useHighlightChosenArea.ts
Due: backend, frontend

feat: add tests for highlighting city functionality
  backend/tests/unit/test_main.py
  frontend/tests/hooks/useHighlightChosenArea.test.ts
Due: none

fix: add docstring for get_area_config
  backend/src/main.py
Due: backend

add tests for area endpoints and jest tests for area selector component
  backend/tests/unit/test_main.py
  frontend/tests/components/AreaSelector.test.tsx
  frontend/tests/components/MapComponent.test.tsx
Due: none

fix: move GeoTransformer to utils directory
  backend/src/main.py
  backend/src/utils/geo_transformer.py
Due: backend

feat: update EdgeEnricher to calculate weighted AQI #202
  backend/src/core/edge_enricher.py
  backend/src/database/db_client.py
  backend/src/services/google_api_service.py
  backend/src/services/redis_service.py
  backend/src/services/route_service.py
  backend/tests/unit/core/test_edge_enricher.py
  backend/tests/unit/services/test_route_service.py
Due: backend

feat: refactor GoogleAPIService and improve tile data fetching #228
  backend/src/config/settings.py
  backend/src/core/edge_enricher.py
  backend/src/services/google_api_service.py
  backend/tests/unit/services/test_google_api_service.py
Due: backend

fix: hide codecov message. only shown when fails
  codecov.yml
Due: none

feat:the basic possibility to search for POIs works
  backend/src/main.py
Due: backend

moved communicating with EdgeEnricher to route_service from redis_service
  backend/src/services/redis_service.py
  backend/src/services/route_service.py
  backend/tests/unit/services/test_redis_service.py
Due: backend

fix: improve test coverage and refactor rediscache #231
  backend/src/services/redis_cache.py
  backend/tests/unit/services/test_redis_cache.py
Due: backend

fixed and improved route_service test coverage
  backend/src/services/redis_service.py
  backend/tests/unit/services/test_redis_service.py
  backend/tests/unit/services/test_route_service.py
Due: backend

Fixed route summary average aq logic, fixed algorithm weight calculation, refactored determening how weight is calculated
  backend/src/core/route_algorithm.py
  backend/src/utils/route_summary.py
  backend/tests/unit/core/test_algorithm.py
Due: backend

feat: added icons so POIs are more visible in the search results
  backend/src/main.py
  frontend/src/components/InputContainer.tsx
Due: backend, frontend

fixed route_service not using balance_factor, fixed docstring
  backend/src/core/route_algorithm.py
  backend/src/services/route_service.py
Due: backend

added balance_value parameter to _compute_routes to allow smooth changing of balanced route value
  backend/src/services/route_service.py
Due: backend

fixed lint errors
  backend/src/core/route_algorithm.py
  backend/src/utils/route_summary.py
Due: backend

feat: add normalized length and normalized aqi #202
  backend/preprocessor/edge_cleaner_sql.py
  backend/src/config/columns.py
  backend/src/core/edge_enricher.py
  backend/src/database/db_client.py
  backend/src/database/db_models.py
  backend/tests/unit/preprocessor/test_edge_cleaner_sql.py
  setup.sh
Due: backend

fix: repair lint fails
  backend/src/core/edge_enricher.py
  backend/tests/unit/preprocessor/test_edge_cleaner_sql.py
Due: backend

Add custom-route fetching funcionality to backend
  backend/src/main.py
  backend/src/services/route_service.py
Due: backend

fix lint
  backend/preprocessor/edge_cleaner_sql.py
  backend/src/main.py
  backend/src/services/redis_service.py
  backend/tests/unit/services/test_redis_service.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/test_main.py
  frontend/src/App.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/styles/SideBar.css
  frontend/src/types/index.ts
Due: backend, frontend

feat: POIs have their icons showing up and only POIs inside the bouncing box are shown
  backend/src/main.py
  frontend/src/assets/icons/poi-icon.svg
  frontend/src/components/InputContainer.tsx
  frontend/src/types/svg.d.ts
Due: backend, frontend

feat: add air quality color toggle to map and sidebar components
  backend/preprocessor/traffic_influence.py
  backend/src/utils/route_summary.py
  backend/tests/unit/utils/test_route_summary.py
  frontend/src/App.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/hooks/useRoute.ts
  frontend/src/setupTests.ts
  frontend/src/styles/SideBar.css
  frontend/tests/components/MapComponent.test.tsx
  frontend/tests/components/SideBar.test.tsx
Due: backend, frontend

test: add unit tests for useDrawRoutes and useRoute hooks
  frontend/tests/hooks/useDrawRoutes.test.ts
  frontend/tests/hooks/useRoute.test.ts
Due: none

feat: added own function for address building + some tests for new functions
  backend/src/main.py
  backend/tests/unit/test_main.py
  frontend/jest.config.ts
  frontend/tests/__mocks__/svgrMock.ts
  frontend/tests/components/InputContainer.test.tsx
Due: backend

fix lint
  backend/preprocessor/traffic_influence.py
  backend/src/core/route_algorithm.py
  backend/src/utils/route_summary.py
  backend/tests/unit/services/test_route_service.py
  frontend/src/components/MapComponent.tsx
Due: backend, frontend

fix tests
  frontend/tests/components/SideBar.test.tsx
Due: none

add tests
  frontend/tests/components/SideBar.test.tsx
Due: none

Path conditions:
  backend: any of: backend/src/, preprocessor/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
  frontend: any of: frontend/src/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
