Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: add unit tests for App and index components
  frontend/tests/App.test.tsx
  frontend/tests/index.test.tsx
Due: none

feat: add region codes to area settings #317
  backend/src/config/settings.py
Due: backend

configure routecards and sidebar for mobile
  frontend/src/App.tsx
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/styles/App.css
  frontend/src/styles/AreaSelector.css
  frontend/src/styles/RouteInfoCard.css
  frontend/src/styles/SideBar.css
Due: frontend

fix: correct URL formatting for Greater London area settings #317
  backend/src/config/settings.py
Due: backend

fix: improve URL formatting for Greater London area settings #317
  backend/src/config/settings.py
Due: backend

fix: reorganize data directory structure for area settings #238
  .dockerignore
  .gitignore
  backend/src/config/settings.py
Due: backend

fix: remove package.json and package-lock.json from .gitignore
  .gitignore
Due: none

feat: create tool for calculating aqi differences
  backend/src/services/route_service.py
  backend/src/utils/aqi_comparison_utils.py
  backend/tests/unit/utils/test_aqi_comparison_utils.py
Due: backend

fix: add docstring and fix pylint issues
  backend/src/utils/aqi_comparison_utils.py
  backend/tests/unit/utils/test_aqi_comparison_utils.py
Due: backend

fix: update aqi_comparison_utils.py to use fastest route as the baseline
  backend/src/utils/aqi_comparison_utils.py
  backend/tests/unit/utils/test_aqi_comparison_utils.py
Due: backend

fix: removed obsolete f-strings
  backend/src/utils/aqi_comparison_utils.py
Due: backend

Change env variable fetching
  backend/src/config/settings.py
  backend/src/services/google_api_service.py
Due: backend

Add info about AQ mock data
  README.md
Due: none

small fix and change task
  e2e/playwright/playwright.config.ts
  tasks.py
Due: none

fixed re-calculated route data to match other routes
  backend/src/core/route_algorithm.py
  backend/src/endpoints/routes.py
  backend/src/services/route_service.py
  backend/tests/unit/endpoints/test_routes.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/test_main.py
  frontend/src/hooks/useRoute.ts
  frontend/tests/hooks/useRoute.test.ts
Due: backend, frontend

Fix google service
  backend/src/services/google_api_service.py
  backend/tests/unit/services/test_google_api_service.py
Due: backend

feat: add functionality to click on routecards and highlight routes #269 #310
  frontend/src/App.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/hooks/useRoute.ts
  frontend/src/styles/RouteInfoCard.css
  frontend/src/styles/SideBar.css
  frontend/src/types/route.ts
Due: frontend

fix: adjust formatting
  frontend/src/App.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/hooks/useRoute.ts
  frontend/src/styles/RouteInfoCard.css
  frontend/src/styles/SideBar.css
  frontend/src/types/route.ts
Due: frontend

fix: add missing props to mapcomponent and sidebar tests
  frontend/tests/components/MapComponent.test.tsx
  frontend/tests/components/SideBar.test.tsx
Due: none

reconfigure sidebar for mobile
  frontend/public/index.html
  frontend/src/components/SideBar.tsx
  frontend/src/styles/SideBar.css
Due: frontend

use lucide icons in sidebar handle
  frontend/src/components/SideBar.tsx
  frontend/src/styles/SideBar.css
Due: frontend

change font of route loading message
  frontend/src/styles/App.css
Due: frontend

feat: Add green influence to walking edges #238
  backend/preprocessor/edge_cleaner_sql.py
  backend/preprocessor/env_influence.py
  backend/preprocessor/green_cleaner_sql.py
  backend/preprocessor/green_influence.py
  backend/preprocessor/osm_downloader.py
  backend/preprocessor/osm_pipeline_runner.py
  backend/preprocessor/osm_preprocessor.py
  backend/preprocessor/traffic_influence.py
  backend/src/config/columns.py
  backend/src/config/influence_weights.py
  backend/src/config/settings.py
  backend/src/core/edge_enricher.py
  backend/src/database/db_client.py
  backend/src/database/db_indexes.py
  backend/src/database/db_models.py
  backend/tests/unit/config/test_settings.py
  backend/tests/unit/database/test_db_indexes.py
  backend/tests/unit/database/test_db_models.py
  backend/tests/unit/preprocessor/test_edge_cleaner_sql.py
  backend/tests/unit/preprocessor/test_green_clean_sql.py
  backend/tests/unit/preprocessor/test_green_influence.py
  backend/tests/unit/preprocessor/test_osm_downloader.py
  backend/tests/unit/preprocessor/test_osm_pipeline.py
  backend/tests/unit/preprocessor/test_osm_preprocessor.py
  tasks.py
Due: backend

feat: Remove debug print statements from enrich_data method #238
  backend/src/core/edge_enricher.py
Due: backend

fix: Clean up whitespace
  backend/src/core/edge_enricher.py
Due: backend

fix: adjust formatting
  frontend/src/App.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/hooks/useRoute.ts
  frontend/src/styles/RouteInfoCard.css
  frontend/src/styles/SideBar.css
Due: frontend

fix: fix formatting issues
  frontend/src/App.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/hooks/useRoute.ts
  frontend/src/types/index.ts
  frontend/tests/components/SideBar.test.tsx
Due: frontend

fix:code works but tests are not finished
  frontend/src/components/MapComponent.tsx
  frontend/src/hooks/useRoute.ts
  frontend/src/utils/coordsNormalizer.ts
  frontend/tests/utils/coordsNormalizer.test.ts
Due: frontend

added temporary/inital tools for roundtrip
  backend/src/core/route_algorithm.py
  backend/src/endpoints/routes.py
  backend/src/services/route_service.py
  frontend/src/App.tsx
  frontend/src/hooks/useRoute.ts
Due: backend, frontend

feat: add route mode selection functionality with UI and hooks #281
  frontend/src/App.tsx
  frontend/src/components/RouteModeSelector.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useRoute.ts
  frontend/src/hooks/useRouteMode.ts
  frontend/src/styles/RouteModeSelector.css
  frontend/src/types/index.ts
  frontend/src/types/route.ts
  frontend/tests/components/RouteModeSelector.test.tsx
  frontend/tests/hooks/useRouteMode.test.ts
Due: frontend

fix:Fixed tests #301
  frontend/src/utils/coordsNormalizer.ts
  frontend/tests/hooks/useRoute.test.ts
Due: frontend

add tests for mobile sidebar
  backend/src/utils/aqi_comparison_utils.py
  backend/tests/unit/utils/test_aqi_comparison_utils.py
  frontend/tests/components/RouteInfoCard.test.tsx
  frontend/tests/components/SideBar.test.tsx
Due: backend

fix: add type checking for frontend and update check_frontend task dependencies
  tasks.py
Due: none

fix: refactor SideBar tests to use default props and improve readability #281
  frontend/tests/components/SideBar.test.tsx
  frontend/tests/hooks/useRoute.test.ts
Due: none

fix app.test.tsx
  frontend/tests/App.test.tsx
Due: none

fix: replace roundtrip with loop in RouteModeSelector and update related tests #281
  frontend/src/components/RouteModeSelector.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/styles/RouteModeSelector.css
  frontend/tests/components/RouteModeSelector.test.tsx
Due: frontend

feat: update time estimation to support multiple modes and refactor related components and tests #282
  backend/src/utils/route_summary.py
  backend/tests/unit/utils/test_route_summary.py
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/types/route.ts
  frontend/tests/api/customRouteApi.test.ts
  frontend/tests/components/RouteInfoCard.test.tsx
  frontend/tests/hooks/useRoute.test.ts
Due: backend, frontend

Path conditions:
  backend: any of: backend/src/, preprocessor/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
  frontend: any of: frontend/src/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
