Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: add google air quality api service and .env file for backend with .env.example
  backend/.env.example
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/services/google_api_service.py
Due: backend

remove excess import
  backend/src/services/google_api_service.py
Due: backend

fix to use local crs
  backend/src/utils/grid.py
Due: backend

use area specific crs for grid
  backend/src/utils/grid.py
Due: backend

fix: delete changelog
  documentation/changelog.md
Due: none

fix grid test
  backend/tests/unit/utils/test_grid.py
Due: none

fix: delete duplicate function
  backend/src/services/route_service.py
Due: backend

changed grid to be saved as geojson, removed centroid field from grid
  backend/src/config/settings.py
  backend/src/utils/grid.py
Due: backend

fix: fix input box suggestions bug
  frontend/src/components/InputContainer.tsx
  frontend/src/components/SideBar.tsx
Due: frontend

Add tile_id to edges in preprocessor #163
  backend/preprocessor/osm_preprocessor.py
  backend/src/config/settings.py
  backend/src/services/route_service.py
  backend/src/utils/grid.py
  backend/tests/unit/preprocessor/test_osm_preprocessor.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/utils/test_grid.py
Due: backend

fix: format and lint to tests
  backend/tests/integration/test_main.py
  backend/tests/unit/config/test_settings.py
  backend/tests/unit/core/test_algorithm.py
  backend/tests/unit/core/test_edge_enrichment_model.py
  backend/tests/unit/preprocessor/test_osm_preprocessor.py
  backend/tests/unit/services/test_redis_cache.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/utils/test_grid.py
  backend/tests/unit/utils/test_route_summary.py
Due: none

fix: add preprocessor to coverage, lint and format
  .github/workflows/ci-cd.yml
  tasks.py
Due: none

fix: make grid support both parquet and geojson. uncomment grid test.
  backend/preprocessor/osm_preprocessor.py
  backend/src/config/settings.py
  backend/src/utils/grid.py
  backend/tests/unit/preprocessor/test_osm_preprocessor.py
  backend/tests/unit/utils/test_grid.py
Due: backend

add tests for google api service
  backend/src/utils/grid.py
  backend/tests/unit/services/test_google_api_service.py
  backend/tests/unit/utils/test_grid.py
Due: backend

feat: refactor algorithm and create useDrawRoutes-hook #128
  README.md
  backend/src/core/algorithm/route_algorithm.py
  backend/src/main.py
  backend/src/services/route_service.py
  frontend/src/App.tsx
  frontend/src/api/routeApi.ts
  frontend/src/components/MapComponent.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/hooks/useRoute.ts
  frontend/src/types/index.ts
  frontend/src/types/route.ts
Due: backend, frontend

fix: update location text and sidebar
  frontend/src/components/SideBar.tsx
  frontend/src/styles/SideBar.css
  frontend/tests/components/SideBar.test.tsx
Due: frontend

added functionality to save/fetch tiles to redis
  backend/src/services/redis_cache.py
  backend/src/services/route_service.py
  backend/src/utils/redis_utils.py
Due: backend

feat: add tests to routealgorithm #128
  backend/.pylintrc
  backend/src/core/algorithm/route_algorithm.py
  backend/src/core/route_algorithm.py
  backend/src/main.py
  backend/src/services/route_service.py
  backend/tests/unit/core/test_algorithm.py
  backend/tests/unit/services/test_route_service.py
  frontend/src/api/routeApi.ts
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/types/route.ts
  frontend/tests/components/MapComponent.test.tsx
  frontend/tests/components/SideBar.test.tsx
Due: backend, frontend

fix: delete unnecessary prints #128
  backend/src/core/route_algorithm.py
Due: backend

fix grid tests
  backend/src/config/settings.py
  backend/src/utils/grid.py
  backend/tests/unit/utils/test_grid.py
Due: backend

Add timeout parameter to API request
  backend/src/services/google_api_service.py
Due: backend

merge feture/tiles-to-redis
  backend/src/services/google_api_service.py
Due: backend

feat: add tile based edge enrichment
  backend/src/core/edge_enricher.py
  backend/src/services/google_api_service.py
  backend/src/services/redis_cache.py
  backend/src/services/route_service.py
  backend/src/utils/redis_utils.py
  backend/tests/unit/core/test_edge_enrichment_model.py
Due: backend

added tests for redis_utils, changed redis utils to use berlin EPSG:25833
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/utils/redis_utils.py
  backend/tests/unit/utils/test_redis_utils.py
Due: backend

Removed debugging tool
  backend/src/services/route_service.py
Due: backend

fixed pylint
  backend/src/services/redis_cache.py
  backend/src/services/route_service.py
  backend/src/utils/redis_utils.py
  backend/tests/unit/utils/test_redis_utils.py
Due: backend

fix pylint
  backend/src/utils/redis_utils.py
Due: backend

feat: configure redis for openshift
  backend/src/config/settings.py
  backend/src/services/redis_cache.py
  manifests/deployment.yaml
Due: backend

make redis, EdgeEnritcher and new algorithm work together
  backend/.env.example
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/config/settings.py
  backend/src/core/edge_enricher.py
  backend/src/services/google_api_service.py
  backend/src/services/redis_cache.py
  backend/src/services/route_service.py
  backend/src/utils/grid.py
  backend/src/utils/redis_utils.py
  backend/tests/unit/core/test_edge_enrichment_model.py
  backend/tests/unit/services/test_google_api_service.py
  backend/tests/unit/utils/test_grid.py
Due: backend

fix algorithm to use aqi instead of aq_value
  backend/src/services/route_service.py
Due: backend

fixed calling api geocode forward with a string containing slash breaking the get
  backend/src/main.py
Due: backend

removed debugging prints
  backend/src/main.py
Due: backend

complete api and enrichment integration
  backend/src/config/settings.py
  backend/src/core/edge_enricher.py
  backend/src/services/google_api_service.py
  backend/src/services/redis_cache.py
  backend/src/services/route_service.py
  backend/src/utils/redis_utils.py
  backend/tests/unit/core/test_edge_enrichment_model.py
  backend/tests/unit/services/test_google_api_service.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/utils/test_grid.py
Due: backend

fix pylint
  backend/src/main.py
Due: backend

fix lint
  backend/src/main.py
Due: backend

comment out test_get_route
  backend/tests/unit/services/test_route_service.py
Due: none

Path conditions:
  backend: any of: backend/src/, preprocessor/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
  frontend: any of: frontend/src/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
