Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: refactor osmpreprocessor (#138)
  backend/preprocessor/osm_preprocessing.py
  backend/preprocessor/osm_preprocessor.py
  backend/preprocessor/run_preprocessor.py
  backend/src/config/settings.py
  backend/src/core/compute_model.py
  backend/tests/unit/config/test_settings.py
  backend/tests/unit/core/test_osm_preprocessing.py
  tasks.py
Due: backend

fix: update docker and openshift manual
  documentation/docker_openshift_manual.md
Due: none

feat:refactor ComputeModel to EdgeEnrichmentModel(#139)
  backend/preprocessor/osm_preprocessor.py
  backend/run_pipeline_compute.py
  backend/src/config/settings.py
  backend/src/core/compute_model.py
  backend/src/core/edge_enrichment_model.py
  backend/src/main.py
  backend/src/services/route_service.py
  backend/tests/integration/core/__init__.py
  backend/tests/integration/test_main.py
  backend/tests/unit/config/test_settings.py
  backend/tests/unit/core/test_compute_model.py
  backend/tests/unit/core/test_edge_enrichment_model.py
  backend/tests/unit/preprocessor/test_osm_preprocessor.py
  backend/tests/unit/services/test_route_service.py
  tasks.py
Due: backend

feat: add database to deployment and create documentation for docker and openshift (#134)
  .gitignore
  documentation/docker_openshift_manual.md
  kustomization.yaml
  manifests/configmap_template.yaml
  manifests/deployment.yaml
Due: none

Combine functions for polygon and point based Aq-data
  backend/preprocessor/osm_preprocessor.py
  backend/src/config/settings.py
  backend/src/core/edge_enrichment_model.py
  backend/tests/unit/config/test_settings.py
  backend/tests/unit/core/test_edge_enrichment_model.py
  tasks.py
Due: backend

Separate load_data function for enrichmnetmodel
  backend/src/core/edge_enrichment_model.py
  backend/src/services/route_service.py
  backend/tests/unit/core/test_edge_enrichment_model.py
  tasks.py
Due: backend

add docstring to load_data
  backend/src/core/edge_enrichment_model.py
Due: backend

fix:rename class to EdgeEnricher. create bbox for berlin.
  backend/preprocessor/osm_preprocessor.py
  backend/src/config/settings.py
  backend/src/core/edge_enricher.py
  backend/src/services/route_service.py
  backend/tests/unit/config/test_settings.py
  backend/tests/unit/core/test_edge_enrichment_model.py
  backend/tests/unit/services/test_route_service.py
  tasks.py
Due: backend

feat: create sidebar
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/components/routeform.css
  frontend/src/components/sidebar.css
Due: frontend

fix: filter only access allowed roads. add helsinki to AreaConfig
  backend/preprocessor/osm_preprocessor.py
  backend/src/config/settings.py
  backend/tests/unit/config/test_settings.py
  backend/tests/unit/preprocessor/test_osm_preprocessor.py
  tasks.py
Due: backend

fix: docstring typos
  backend/src/services/route_service.py
Due: backend

adding first version of code that needs refactoring #128
  backend/src/core/algorithm/route_algorithm.py
  backend/src/main.py
  backend/src/services/route_service.py
  frontend/src/App.tsx
  frontend/src/components/MapComponent.tsx
Due: backend, frontend

feat: refactor API to get coordinates as GeoJSON and pass forward as GDF (#152)
  backend/src/core/edge_enricher.py
  backend/src/main.py
  backend/src/services/geo_transformer.py
  backend/src/services/route_service.py
  backend/src/utils/time_format.py
  backend/tests/integration/test_main.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/utils/test_time_format.py
  frontend/jest.config.ts
  frontend/src/App.tsx
  frontend/src/api/routeApi.ts
  frontend/src/components/MapComponent.tsx
  frontend/src/hooks/useRoute.ts
  frontend/src/types/api.ts
  frontend/src/types/index.ts
  frontend/src/types/route.ts
  frontend/tests/api/routeApi.test.ts
  frontend/tsconfig.json
Due: backend, frontend

fix: refactor mapcomponent.test #152
  frontend/tests/components/MapComponent.test.tsx
Due: none

fix: get rid of scrolldown bar
  frontend/src/App.css
  frontend/src/components/MapComponent.tsx
  frontend/src/components/sidebar.css
Due: frontend

fix: fix mapcomponent test #152
  frontend/tests/components/MapComponent.test.tsx
Due: none

feat: move LocationButton to MapComponent and update current location handling
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/InputContainer.tsx
  frontend/src/components/LocationButton.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/styles/App.css
  frontend/src/styles/LocationButton.css
  frontend/src/styles/MapComponent.css
  frontend/src/styles/SideBar.css
Due: frontend

fix: prevent map from snapping back to user location after route has been found
  frontend/src/components/MapComponent.tsx
Due: frontend

fix:aqdata missing crash
  backend/run_route_service.py
  backend/src/core/edge_enricher.py
  backend/src/services/route_service.py
  tasks.py
Due: backend

fix: clarify task prints
  tasks.py
Due: none

add tile_size_m to areaconfig for grid
  backend/src/config/settings.py
Due: backend

feat: implement grid system with geopandas
  backend/poetry.lock
  backend/preprocessor/osm_preprocessor.py
  backend/pyproject.toml
  backend/src/utils/grid.py
  backend/tests/unit/utils/__init__.py
  backend/tests/unit/utils/test_grid.py
Due: backend

fix: clarify workarounds
  backend/src/services/route_service.py
Due: backend

feat: add parquet storing and invoke task for grid generation
  backend/src/config/settings.py
  backend/src/utils/grid.py
  tasks.py
Due: backend

feat: add tests SideBar.tsx, LocationButton.tsx and MapComponent.tsx
  frontend/tests/components/LocationButton.test.tsx
  frontend/tests/components/MapComponent.test.tsx
  frontend/tests/components/SideBar.test.tsx
Due: none

fix: increase resources and timeout for deployment, update CORS origins and tweak algorithm to work with deployment
  Dockerfile
  backend/src/core/algorithm/route_algorithm.py
  backend/src/main.py
  manifests/deployment.yaml
  manifests/route.yaml
Due: backend

fix: tweak the formatting of time estimate
  backend/src/services/route_service.py
Due: backend

feat: create changelog #110
  documentation/changelog.md
Due: none

fix: fix unit tests for time estimate
  backend/tests/unit/services/test_route_service.py
Due: none

fix: revert time estimate formatting and tests to how they were before
  backend/src/services/route_service.py
  backend/tests/unit/services/test_route_service.py
Due: backend

fix: show time estimate only when a route is loaded; improve loading/error display
  frontend/src/App.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/styles/App.css
  frontend/src/styles/SideBar.css
Due: frontend

feat: create bufferzone and refactor routeservice to handle multiple routes
  backend/src/core/edge_enricher.py
  backend/src/main.py
  backend/src/services/route_service.py
  backend/src/utils/route_summary.py
  backend/src/utils/time_format.py
  backend/tests/unit/utils/test_route_summary.py
  frontend/src/components/MapComponent.tsx
Due: backend, frontend

Path conditions:
  backend: any of: backend/src/, preprocessor/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
  frontend: any of: frontend/src/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
