Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        if_not_found: success
    patch:
      default:
        target: 00%
        threshold: 5%


comment:
  layout: "reach, diff, files"
  behavior: hide
  require_changes: true
  branches: [main, dev]
  show_critical_paths: true
  show_carryforward_flags: true
  require_base: yes

ignore:
  - "**/__init__.py"
  - "**/tests/*"
  - "**/.venv/*"
  - "**/migrations/*"
  - "**/*.d.ts"
  - "**/__mocks__/**"
  - "frontend/test-utils/"

flags:
  backend:
    paths:
      - backend/src/
      - preprocessor/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

fix: enhance loop handling in MapComponent and useRoute hook #354
  frontend/package-lock.json
  frontend/src/components/MapComponent.tsx
  frontend/src/hooks/useRoute.ts
  frontend/tests/components/MapComponent.test.tsx
  frontend/tests/hooks/useRoute.test.ts
Due: frontend

fix: update area settings with zoom levels and refactor map handling #357
  backend/src/config/settings.py
  backend/src/endpoints/areas.py
  frontend/src/components/MapComponent.tsx
  frontend/src/constants.ts
  frontend/src/styles/App.css
  frontend/src/utils/mapBounds.ts
  frontend/tests/utils/mapBounds.test.ts
Due: backend, frontend

Add Info button
  frontend/src/App.tsx
  frontend/src/components/DisclaimerModal.tsx
  frontend/src/styles/DisclaimerModal.css
Due: frontend

fix: correct longitude variable name in map flyTo logic #357
  frontend/src/components/MapComponent.tsx
Due: frontend

fix: adjust zoom levels for area settings and reintroduce initial map constants #357
  backend/src/config/settings.py
  frontend/src/components/MapComponent.tsx
  frontend/src/constants.ts
Due: backend, frontend

refactor: streamline RouteInfoCard layout and enhance SideBar styles for better responsiveness #341
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/styles/RouteInfoCard.css
  frontend/src/styles/SideBar.css
Due: frontend

fix: enhance responsive design across multiple components with clamp() adjustments #341
  frontend/src/styles/App.css
  frontend/src/styles/LoopDistanceSlider.css
  frontend/src/styles/MapComponent.css
  frontend/src/styles/RouteInfoCard.css
  frontend/src/styles/RouteModeSelector.css
  frontend/src/styles/SideBar.css
Due: frontend

fix: update route type labels and adjust AQ toggle button text for consistency #341
  e2e/playwright/tests/routing.spec.ts
  frontend/src/components/SideBar.tsx
  frontend/tests/components/SideBar.test.tsx
Due: frontend

fix: refine map bounds calculations and adjust padding based on sidebar width #341
  frontend/src/components/MapComponent.tsx
  frontend/src/utils/mapBounds.ts
  frontend/tests/utils/mapBounds.test.ts
Due: frontend

delete mapbox location button to fix bug #367
  frontend/src/components/MapComponent.tsx
  frontend/src/styles/MapComponent.css
Due: frontend

delete location button tests
  frontend/tests/components/MapComponent.test.tsx
Due: none

feat: enhance air quality data handling and exposure calculations #369
  backend/src/core/edge_enricher.py
  backend/src/services/google_api_service.py
  backend/src/services/route_service.py
  backend/src/utils/exposure_calculator.py
  backend/tests/unit/core/test_edge_enricher.py
  backend/tests/unit/services/test_google_api_service.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/utils/test_exposure_calculator.py
  flowchart.md
Due: backend

reconfigure sidebar to be stageless (sidebar is now scrollable and can be set at any height on mobile), also change logo
  backend/src/app.py
  frontend/src/App.tsx
  frontend/src/assets/images/ecopaths-logo-with-text.jpg
  frontend/src/components/SideBar.tsx
  frontend/src/styles/App.css
  frontend/src/styles/SideBar.css
Due: backend, frontend

fix: remove args from dockerfile and update related files
  Dockerfile
  backend/src/app.py
  backend/src/config/settings.py
  backend/src/endpoints/static.py
  docker-compose.yaml
  docker-entrypoint.sh
  frontend/public/config.js
  frontend/public/index.html
  frontend/src/components/AreaSelector.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useRoute.ts
  frontend/src/utils/config.ts
  manifests/deployment.yaml
  setup.sh
  tasks.py
Due: backend, frontend

fix: adjust path in app.py and update instructions
  README.md
  backend/src/app.py
  documentation/docker_openshift_manual.md
Due: backend

fix: remove min-height from route card base for improved layout flexibility #341
  frontend/src/styles/SideBar.css
Due: frontend

update configuration
  backend/src/app.py
Due: backend

fix: remove mapcomponent.css
  frontend/src/styles/MapComponent.css
Due: frontend

Fix suggestion and routing bug
  backend/src/endpoints/geocode.py
  backend/src/endpoints/routes.py
  backend/src/services/route_service.py
  backend/tests/unit/endpoints/test_geocode.py
  backend/tests/unit/endpoints/test_routes.py
  frontend/src/areaContext.tsx
  frontend/src/components/AreaSelector.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useRoute.ts
  frontend/src/index.tsx
Due: backend, frontend

fix: remove args from dockerfile and update related files #251 (#385)
  Dockerfile
  README.md
  backend/src/app.py
  backend/src/config/settings.py
  backend/src/endpoints/static.py
  docker-compose.yaml
  docker-entrypoint.sh
  documentation/docker_openshift_manual.md
  frontend/public/config.js
  frontend/public/index.html
  frontend/src/components/AreaSelector.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useRoute.ts
  frontend/src/utils/config.ts
  manifests/deployment.yaml
  setup.sh
  tasks.py
Due: backend, frontend

feat: add tests to LoopDistanceSlider and fetchLoopApi #309
  frontend/src/api/routeApi.ts
  frontend/src/components/RouteModeSelector.tsx
  frontend/tests/api/routeApi.test.ts
  frontend/tests/components/LoopDistanceSlider.test.tsx
  frontend/tests/components/MapComponent.test.tsx
Due: frontend

fix: remove commented code in useLoopRoute hook
  frontend/src/hooks/useLoopRoute.ts
Due: frontend

feat: refactor loop route handling and improve UI components for better user experience #309
  frontend/src/App.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/hooks/useLoopRoute.ts
  frontend/src/styles/SideBar.css
  frontend/tests/components/MapComponent.test.tsx
  frontend/tests/hooks/useDrawRoutes.test.ts
  frontend/tests/hooks/useLoopRoute.test.ts
Due: frontend

feat: implement loop route functionality with UI components and API integration
  backend/src/endpoints/routes.py
  frontend/src/App.tsx
  frontend/src/api/routeApi.ts
  frontend/src/components/DisclaimerModal.tsx
  frontend/src/components/LoopDistanceSlider.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/RouteModeSelector.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/hooks/useLoopRoute.ts
  frontend/src/hooks/useRoute.ts
  frontend/src/hooks/useRouteMode.ts
  frontend/src/styles/DisclaimerModal.css
  frontend/src/styles/LoopDistanceSlider.css
  frontend/src/types/route.ts
  frontend/tests/components/MapComponent.test.tsx
  frontend/tests/components/RouteModeSelector.test.tsx
  frontend/tests/components/SideBar.test.tsx
  frontend/tests/hooks/useDrawRoutes.test.ts
  frontend/tests/hooks/useLoopRoute.test.ts
  frontend/tests/hooks/useRoute.test.ts
Due: backend, frontend

fixed test
  frontend/tests/components/LoopDistanceSlider.test.tsx
Due: none

integrated round trip algorithm, altered max distance
  backend/.pylintrc
  backend/src/core/route_algorithm.py
  backend/src/endpoints/routes.py
  backend/src/services/route_service.py
  backend/tests/unit/core/test_algorithm.py
  backend/tests/unit/services/test_route_service.py
  frontend/src/components/LoopDistanceSlider.tsx
Due: backend, frontend

Feature/mobile optimization #279 (#331)
  backend/src/core/route_algorithm.py
  backend/src/endpoints/routes.py
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/styles/App.css
  frontend/src/styles/AreaSelector.css
  frontend/src/styles/LocationButton.css
  frontend/src/styles/MapComponent.css
  frontend/src/styles/RouteInfoCard.css
  frontend/src/styles/SideBar.css
  frontend/tests/App.test.tsx
  frontend/tests/components/RouteInfoCard.test.tsx
  frontend/tests/components/SideBar.test.tsx
Due: backend, frontend

fix:code works but tests are not finished
  frontend/src/components/MapComponent.tsx
  frontend/src/hooks/useRoute.ts
  frontend/src/utils/coordsNormalizer.ts
  frontend/tests/utils/coordsNormalizer.test.ts
Due: frontend

fix: cleaned up code
  frontend/src/components/MapComponent.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useGeolocationState.ts
Due: frontend

fix: bug fix for the problem where the current location didnt get set as a starting point
  frontend/src/components/MapComponent.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useGeolocationState.ts
  frontend/src/hooks/useRoute.ts
  frontend/src/utils/coordsNormalizer.ts
  frontend/tests/hooks/useRoute.test.ts
  frontend/tests/utils/coordsNormalizer.test.ts
Due: frontend

fix: fixed frontend linting + prettier errors
  frontend/src/components/MapComponent.tsx
  frontend/src/utils/coordsNormalizer.ts
Due: frontend

changed self.edges.crs to self.config.crs so setting crs works when self.edges.crs is None
  backend/src/core/edge_enricher.py
Due: backend

added check if edge has length field to fix bug. Should not cause errors since route validity is checked later and has fallbacks
  backend/src/core/route_algorithm.py
Due: backend
