Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

added loop optimizations. Loop now gets best aq edge from outer tiles and gets two more that are +-120 degrees rotated. Loop is calculated using these checkpoints
  backend/src/services/route_service.py
Due: backend

removed debug tools
  backend/src/services/route_service.py
Due: backend

updated old docstrings
  backend/src/services/route_service.py
Due: backend

fixed issues, tests
  backend/src/services/route_service.py
  backend/tests/unit/services/test_route_service.py
Due: backend

Feature/logging #283 (#336)
  backend/src/core/route_algorithm.py
  backend/src/endpoints/geocode.py
  backend/src/endpoints/routes.py
Due: backend

update codecov.yml to set patch coverage target to 0%
  codecov.yml
Due: none

small fix
  backend/src/database/db_connection.py
  backend/tests/unit/logging/test_logger.py
Due: backend

adjust map fitBounds padding to account for sidebar width
  frontend/src/components/MapComponent.tsx
Due: frontend

fix: fix static path
  backend/src/endpoints/static.py
Due: backend

add istanbul ignore comment for useEffect in MapComponent
  frontend/src/components/MapComponent.tsx
Due: frontend

Fix one lint error
  backend/src/database/db_client.py
Due: backend

fix for openshift
  backend/pyproject.toml
  backend/src/app.py
  backend/src/core/edge_enricher.py
  backend/src/core/route_algorithm.py
  backend/src/database/db_client.py
  backend/src/database/db_connection.py
  backend/src/database/db_models.py
  backend/src/endpoints/areas.py
  backend/src/endpoints/geocode.py
  backend/src/endpoints/routes.py
  backend/src/logger/__init__.py
  backend/src/logger/formatters.py
  backend/src/logger/logger.py
  backend/src/logger/logging_conf.py
  backend/src/services/google_api_service.py
  backend/src/services/redis_cache.py
  backend/src/services/redis_service.py
  backend/src/services/route_service.py
Due: backend

fix: reset loop parameters on area selection change #360
  frontend/src/App.tsx
Due: frontend

fix: add loop parameter to useRoute hook and update related tests
  backend/src/database/db_models.py
  frontend/src/App.tsx
  frontend/src/hooks/useRoute.ts
  frontend/tests/hooks/useRoute.test.ts
Due: backend, frontend

fix: Move areahandlers to hook directory #360
  frontend/src/App.tsx
  frontend/src/hooks/useAreaHandlers.ts
  frontend/tests/hooks/useAreaHandlers.test.ts
Due: frontend

fix: edit loop vs ab-route handling #354
  frontend/src/hooks/useRoute.ts
Due: frontend

fix: enhance loop handling in MapComponent and useRoute hook #354
  frontend/package-lock.json
  frontend/src/components/MapComponent.tsx
  frontend/src/hooks/useRoute.ts
  frontend/tests/components/MapComponent.test.tsx
  frontend/tests/hooks/useRoute.test.ts
Due: frontend

fix: correct longitude variable name in map flyTo logic #357
  frontend/src/components/MapComponent.tsx
Due: frontend

fix: adjust zoom levels for area settings and reintroduce initial map constants #357
  backend/src/config/settings.py
  frontend/src/components/MapComponent.tsx
  frontend/src/constants.ts
Due: backend, frontend

fix: update area settings with zoom levels and refactor map handling #357
  backend/src/config/settings.py
  backend/src/endpoints/areas.py
  frontend/src/components/MapComponent.tsx
  frontend/src/constants.ts
  frontend/src/styles/App.css
  frontend/src/utils/mapBounds.ts
  frontend/tests/utils/mapBounds.test.ts
Due: backend, frontend

added test for get_round_trip_forward
  backend/tests/unit/services/test_route_service.py
Due: none

Fixes after rebase
  backend/src/core/route_algorithm.py
  backend/src/endpoints/routes.py
  frontend/src/App.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useRoute.ts
  frontend/tests/App.test.tsx
  frontend/tests/components/AreaSelector.test.tsx
  frontend/tests/components/SideBar.test.tsx
  frontend/tests/hooks/useRoute.test.tsx
Due: backend, frontend

add test for areacontext
  frontend/tests/AreaContext.test.tsx
Due: none

Feature/optimize loop directed (#386)
  backend/src/core/edge_enricher.py
  backend/src/core/route_algorithm.py
  backend/src/services/route_service.py
  backend/tests/unit/services/test_route_service.py
Due: backend

delete old tests for mobile sidebar stages, fix routecards to work better on different screens
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/styles/App.css
  frontend/src/styles/RouteInfoCard.css
  frontend/src/styles/SideBar.css
  frontend/tests/App.test.tsx
  frontend/tests/components/SideBar.test.tsx
Due: frontend

fix: update deployment resources and docker manual
  documentation/docker_openshift_manual.md
  manifests/deployment.yaml
Due: none

Fix multiple_users bug #363 and add/change tests
  backend/src/endpoints/geocode.py
  backend/src/endpoints/routes.py
  backend/tests/unit/endpoints/test_geocode.py
  backend/tests/unit/endpoints/test_routes.py
  backend/tests/unit/services/test_route_service.py
  frontend/src/AreaContext.tsx
  frontend/src/components/AreaSelector.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useRoute.ts
  frontend/src/index.tsx
  frontend/tests/App.test.tsx
  frontend/tests/AreaContext.test.tsx
  frontend/tests/components/AreaSelector.test.tsx
  frontend/tests/hooks/useRoute.test.tsx
Due: backend, frontend

fix: update port mapping for redis; update docker compose instructions
  docker-compose.yaml
  documentation/docker_openshift_manual.md
Due: none

fix: fix env fetching to work in deployment
  frontend/src/api/customRouteApi.ts
  frontend/src/api/routeApi.ts
Due: frontend

changed .route-loading-overlay from absolute to relative to fix flicker bug
  frontend/src/styles/SideBar.css
Due: frontend

fix: change the app's caching behaviour
  backend/src/app.py
  backend/src/endpoints/static.py
Due: backend

feat: add test for static.py
  backend/tests/unit/endpoints/test_static.py
Due: none

undid previous changes, added position: relative to .route-card-base
  frontend/src/styles/SideBar.css
Due: frontend

fix: create temp dir for static.py test
  backend/tests/unit/endpoints/test_static.py
Due: none

fix: fix unit tests
  backend/src/endpoints/static.py
  backend/tests/unit/endpoints/test_static.py
Due: backend

fix: create helper function in static.py and update test
  backend/src/endpoints/static.py
  backend/tests/unit/endpoints/test_static.py
Due: backend

fix: add missing docstring
  backend/src/endpoints/static.py
Due: backend

fix: revert static.py to its previous state, delete test and make coverage ignore it
  backend/src/endpoints/static.py
  backend/tests/unit/endpoints/test_static.py
Due: backend

fix: comment out codecov patch
  codecov.yml
Due: none

Disable patch coverage settings
  codecov.yml
Due: none

Path conditions:
  backend: any of: backend/src/, preprocessor/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
  frontend: any of: frontend/src/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
