Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: reorganize RouteInfoCard layout
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/styles/RouteInfoCard.css
Due: frontend

fix: add missing test for walk button click in RouteModeSelector #281
  frontend/tests/components/RouteModeSelector.test.tsx
Due: none

feat: Update green influence calculations and adjust influence weights #238
  backend/preprocessor/green_cleaner_sql.py
  backend/preprocessor/green_influence.py
  backend/preprocessor/osm_preprocessor.py
  backend/src/config/influence_weights.py
Due: backend

fix pylint line too long
  backend/src/core/route_algorithm.py
Due: backend

feat: Update green influence weights and enhance env influence statistics #238
  backend/preprocessor/env_influence.py
  backend/src/config/influence_weights.py
Due: backend

fix: Improve formatting of env influence statistics output #238
  backend/preprocessor/env_influence.py
Due: none

fix: bug fix for the problem where the current location didnt get set as a starting point
  frontend/src/components/MapComponent.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useGeolocationState.ts
  frontend/src/hooks/useRoute.ts
  frontend/src/utils/coordsNormalizer.ts
  frontend/tests/hooks/useRoute.test.ts
  frontend/tests/utils/coordsNormalizer.test.ts
Due: frontend

fix: cleaned up code
  frontend/src/components/MapComponent.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useGeolocationState.ts
Due: frontend

fix: fixed frontend linting + prettier errors
  frontend/src/components/MapComponent.tsx
  frontend/src/utils/coordsNormalizer.ts
Due: frontend

feat: implement loop route functionality with UI components and API integration
  backend/src/endpoints/routes.py
  frontend/src/App.tsx
  frontend/src/api/routeApi.ts
  frontend/src/components/LoopDistanceSlider.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/RouteModeSelector.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/hooks/useLoopRoute.ts
  frontend/src/hooks/useRoute.ts
  frontend/src/hooks/useRouteMode.ts
  frontend/src/styles/LoopDistanceSlider.css
  frontend/src/types/route.ts
  frontend/tests/components/MapComponent.test.tsx
  frontend/tests/components/RouteModeSelector.test.tsx
  frontend/tests/components/SideBar.test.tsx
  frontend/tests/hooks/useDrawRoutes.test.ts
  frontend/tests/hooks/useLoopRoute.test.ts
  frontend/tests/hooks/useRoute.test.ts
Due: backend, frontend

Added working version of round trip
  backend/src/core/route_algorithm.py
  backend/src/endpoints/geocode.py
  backend/src/services/route_service.py
Due: backend

Add logging
  .gitignore
  backend/.env.example
  backend/.env.test.example
  backend/src/app.py
  backend/src/config/settings.py
  backend/src/logging/__init__.py
  backend/src/logging/formatters.py
  backend/src/logging/logger.py
  backend/src/logging/logging_conf.py
  frontend/package-lock.json
Due: backend

Change print lines into logs
  backend/src/core/edge_enricher.py
  backend/src/core/route_algorithm.py
  backend/src/database/db_client.py
  backend/src/database/db_connection.py
  backend/src/database/db_models.py
  backend/src/endpoints/areas.py
  backend/src/endpoints/geocode.py
  backend/src/endpoints/routes.py
  backend/src/services/google_api_service.py
  backend/src/services/redis_cache.py
  backend/src/services/redis_service.py
  backend/src/services/route_service.py
Due: backend

Add/change tests for logging
  backend/tests/unit/database/test_db_models.py
  backend/tests/unit/logging/test_logger.py
Due: none

made round_trip work with frontend
  backend/src/endpoints/routes.py
  backend/src/services/route_service.py
  frontend/src/App.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/hooks/useRoute.ts
  frontend/tests/hooks/useRoute.test.ts
Due: backend, frontend

fixed front end bugs, fixed tests, fixed lint
  .gitignore
  backend/.pylintrc
  backend/src/core/route_algorithm.py
  backend/src/endpoints/geocode.py
  backend/src/endpoints/routes.py
  backend/src/services/route_service.py
  backend/src/utils/aqi_comparison_utils.py
  backend/tests/unit/core/test_algorithm.py
  backend/tests/unit/endpoints/test_routes.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/utils/test_aqi_comparison_utils.py
  frontend/src/hooks/useRoute.ts
  frontend/tests/components/SideBar.test.tsx
  frontend/tests/hooks/useRoute.test.ts
Due: backend, frontend

added tests
  backend/tests/unit/services/test_route_service.py
Due: none

increased frontend test coverage
  frontend/tests/App.test.tsx
Due: none

fix: remove commented code in useLoopRoute hook
  frontend/src/hooks/useLoopRoute.ts
Due: frontend

feat: refactor loop route handling and improve UI components for better user experience #309
  backend/src/endpoints/routes.py
  frontend/src/App.tsx
  frontend/src/components/MapComponent.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/hooks/useDrawRoutes.ts
  frontend/src/hooks/useLoopRoute.ts
  frontend/src/styles/SideBar.css
  frontend/tests/components/MapComponent.test.tsx
  frontend/tests/hooks/useDrawRoutes.test.ts
  frontend/tests/hooks/useLoopRoute.test.ts
Due: backend, frontend

feat: add tests to LoopDistanceSlider and fetchLoopApi #309
  frontend/src/api/routeApi.ts
  frontend/src/components/RouteModeSelector.tsx
  frontend/tests/api/routeApi.test.ts
  frontend/tests/components/LoopDistanceSlider.test.tsx
  frontend/tests/components/MapComponent.test.tsx
Due: frontend

fix: added missing libraries to routes.py and merged dev
  backend/src/endpoints/routes.py
Due: backend

fix: fixed linting error
  backend/src/endpoints/routes.py
Due: backend

Feature/mobile optimization #279 (#331)
  backend/src/core/route_algorithm.py
  backend/src/endpoints/routes.py
  backend/src/utils/aqi_comparison_utils.py
  backend/tests/unit/utils/test_aqi_comparison_utils.py
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/RouteInfoCard.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/styles/App.css
  frontend/src/styles/AreaSelector.css
  frontend/src/styles/LocationButton.css
  frontend/src/styles/MapComponent.css
  frontend/src/styles/RouteInfoCard.css
  frontend/src/styles/SideBar.css
  frontend/tests/App.test.tsx
  frontend/tests/components/RouteInfoCard.test.tsx
  frontend/tests/components/SideBar.test.tsx
Due: backend, frontend

Feature/logging #283 (#336)
  .gitignore
  backend/.env.example
  backend/.env.test.example
  backend/src/app.py
  backend/src/config/settings.py
  backend/src/core/edge_enricher.py
  backend/src/core/route_algorithm.py
  backend/src/database/db_client.py
  backend/src/database/db_connection.py
  backend/src/database/db_models.py
  backend/src/endpoints/areas.py
  backend/src/endpoints/geocode.py
  backend/src/endpoints/routes.py
  backend/src/logging/__init__.py
  backend/src/logging/formatters.py
  backend/src/logging/logger.py
  backend/src/logging/logging_conf.py
  backend/src/services/google_api_service.py
  backend/src/services/redis_cache.py
  backend/src/services/redis_service.py
  backend/src/services/route_service.py
  backend/tests/unit/database/test_db_models.py
  backend/tests/unit/logging/test_logger.py
  frontend/package-lock.json
Due: backend

integrated round trip algorithm, altered max distance
  backend/.pylintrc
  backend/src/core/route_algorithm.py
  backend/src/endpoints/routes.py
  backend/src/services/route_service.py
  backend/src/utils/aqi_comparison_utils.py
  backend/tests/unit/core/test_algorithm.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/utils/test_aqi_comparison_utils.py
  frontend/src/components/LoopDistanceSlider.tsx
Due: backend, frontend

fixed test
  frontend/tests/components/LoopDistanceSlider.test.tsx
Due: none

added only computing balanced route on slider update
  backend/src/core/route_algorithm.py
  backend/src/endpoints/routes.py
  backend/src/services/route_service.py
  backend/tests/unit/endpoints/test_routes.py
  backend/tests/unit/services/test_route_service.py
  frontend/src/hooks/useRoute.ts
  frontend/tests/hooks/useRoute.test.ts
Due: backend, frontend

Init Info button
  frontend/src/App.tsx
  frontend/src/components/DisclaimerModal.tsx
  frontend/src/styles/DisclaimerModal.css
Due: frontend

fix for openshift
  backend/pyproject.toml
  backend/src/app.py
  backend/src/core/edge_enricher.py
  backend/src/core/route_algorithm.py
  backend/src/database/db_client.py
  backend/src/database/db_connection.py
  backend/src/database/db_models.py
  backend/src/endpoints/areas.py
  backend/src/endpoints/geocode.py
  backend/src/endpoints/routes.py
  backend/src/logger/__init__.py
  backend/src/logger/formatters.py
  backend/src/logger/logger.py
  backend/src/logger/logging_conf.py
  backend/src/services/google_api_service.py
  backend/src/services/redis_cache.py
  backend/src/services/redis_service.py
  backend/src/services/route_service.py
Due: backend

adjust map fitBounds padding to account for sidebar width
  frontend/src/components/MapComponent.tsx
Due: frontend

small fix
  backend/src/database/db_connection.py
  backend/tests/unit/logging/test_logger.py
Due: backend

Fix one lint error
  backend/src/database/db_client.py
Due: backend

update codecov.yml to set patch coverage target to 0%
  codecov.yml
Due: none

add istanbul ignore comment for useEffect in MapComponent
  frontend/src/components/MapComponent.tsx
Due: frontend

fix: fix static path
  backend/src/endpoints/static.py
Due: backend

fix: add loop parameter to useRoute hook and update related tests
  backend/src/database/db_models.py
  frontend/src/App.tsx
  frontend/src/hooks/useRoute.ts
  frontend/tests/hooks/useRoute.test.ts
Due: backend, frontend

fix: reset loop parameters on area selection change #360
  frontend/src/App.tsx
Due: frontend

fix: Move areahandlers to hook directory #360
  frontend/src/App.tsx
  frontend/src/hooks/useAreaHandlers.ts
  frontend/tests/hooks/useAreaHandlers.test.ts
Due: frontend

fix: edit loop vs ab-route handling #354
  frontend/src/hooks/useRoute.ts
Due: frontend

Path conditions:
  backend: any of: backend/src/, preprocessor/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
  frontend: any of: frontend/src/, but not: **/__init__.py, **/tests/*, **/.venv/*, **/migrations/*, **/*.d.ts, **/__mocks__/**, frontend/test-utils/
