Repository OhtuProjektiSyksy25/EcoPaths: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 5%
        if_not_found: success
    patch:
      default:
        target: 50%
        threshold: 5%


comment:
  layout: "reach, diff, files"
  behavior: default
  require_changes: true
  branches: [main, dev]
  show_critical_paths: true
  show_annotations: true
  show_carryforward_flags: true
  require_base: yes

ignore:
  - "**/__init__.py"
  - "**/tests/*"
  - "**/.venv/*"
  - "**/migrations/*"
  - "**/*.d.ts"
  - "**/__mocks__/**"
  - "frontend/test-utils/"

parsers:
  python:
    enable_partials: true
  javascript:
    enable_partials: true

flags:
  backend:
    paths:
      - backend/src/
      - preprocessor/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

fix: update route colours based on the us aqi index #254
  frontend/src/hooks/useDrawRoutes.ts
Due: frontend

configure sidebar for mobile
  frontend/src/components/SideBar.tsx
  frontend/src/styles/SideBar.css
Due: frontend

added prettier, added invoke commands for formatting and checking frontend
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
Due: none

updated .gitignore, tasks
  .gitignore
  tasks.py
Due: none

fixed lint
  backend/src/core/route_algorithm.py
Due: backend

Add support for test mode in backend
  backend/.env.example
  backend/src/config/settings.py
  backend/src/main.py
  backend/src/services/google_api_service.py
Due: backend

Refactor e2e tests and add script for executing
  .gitignore
  backend/src/config/settings.py
  e2e/package-lock.json
  e2e/package.json
  e2e/playwright.config.ts
  e2e/playwright/fixtures/air-quality-data/berlin_aq.geojson
  e2e/playwright/fixtures/air-quality-data/berlin_grid.geojson
  e2e/playwright/helpers/apiMock.ts
  e2e/playwright/tests/routing.spec.ts
  playwright-test.sh
  playwright.config.ts
  tasks.py
Due: backend

Delete useless file
  backend/.gitignore
Due: none

Create e2e invoke task
  playwright-test.sh
  tasks.py
Due: none

Add invoke task
  .gitignore
  tasks.py
Due: none

Fixes after merge
  backend/src/config/settings.py
  e2e/playwright.config.ts
  e2e/playwright/tests/routing.spec.ts
  tasks.py
Due: backend

Refactor e2e workflow
  .github/workflows/ci-cd.yml
  .github/workflows/e2e-test.yml
Due: none

Change Google service tests to work with changes
  backend/tests/unit/services/test_google_api_service.py
Due: none

Merge file and small fixes
  backend/src/app.py
  backend/src/config/settings.py
  backend/src/core/route_algorithm.py
  backend/src/services/google_api_service.py
Due: backend

fix yml file
  .github/workflows/ci-cd.yml
Due: none

fix e2e yml
  .github/workflows/ci-cd.yml
Due: none

fix workflow
  .github/workflows/ci-cd.yml
Due: none

feat: add ScaleControl to MapComponent with fade effects on movement #259
  frontend/src/components/MapComponent.tsx
  frontend/src/setupTests.ts
  frontend/tests/components/MapComponent.test.tsx
Due: frontend

Refactor e2e workflow
  .github/workflows/ci-cd.yml
Due: none

refine mobile view
  backend/src/core/route_algorithm.py
  backend/src/services/route_service.py
  backend/tests/unit/core/test_algorithm.py
  backend/tests/unit/services/test_route_service.py
  frontend/src/styles/SideBar.css
Due: backend, frontend

feat: add jest tests for sidebar
  frontend/tests/components/SideBar.test.tsx
Due: none

fix: fix the bug where autofill suggestions pop back up after location is chosen #264
  frontend/src/components/SideBar.tsx
Due: frontend

fix:refactor main.py to be more modular #150
  backend/src/app.py
  backend/src/endpoints/__init__.py
  backend/src/endpoints/areas.py
  backend/src/endpoints/geocode.py
  backend/src/endpoints/routes.py
  backend/src/endpoints/static.py
  backend/src/main.py
  backend/src/services/route_service.py
  backend/src/utils/decorators.py
  backend/src/utils/poi_utils.py
  backend/tests/unit/core/test_algorithm.py
  backend/tests/unit/endpoints/__init__.py
  backend/tests/unit/endpoints/test_areas.py
  backend/tests/unit/endpoints/test_geocode.py
  backend/tests/unit/endpoints/test_routes.py
  backend/tests/unit/services/test_route_service.py
  backend/tests/unit/test_app.py
  backend/tests/unit/test_main.py
  backend/tests/unit/utils/test_decorators.py
  backend/tests/unit/utils/test_poi_utils.py
  frontend/src/api/customRouteApi.ts
  frontend/src/api/routeApi.ts
  frontend/src/hooks/useRoute.ts
  frontend/tests/api/routeApi.test.ts
Due: backend, frontend

fix: add more safeguards for the bug with autofill suggestions popping up
  frontend/src/components/InputContainer.tsx
  frontend/src/components/SideBar.tsx
Due: frontend

fix: remove highlighht while aqi is shown
  frontend/src/hooks/useDrawRoutes.ts
Due: frontend

fix: update a test for sidebar
  frontend/tests/components/SideBar.test.tsx
Due: none

increased buffer by 200m to fix some routes failing to fetch
  backend/src/services/route_service.py
Due: backend

Create example .env.test
  .github/workflows/ci-cd.yml
  .gitignore
  backend/.env.example
  backend/.env.test.example
Due: none

fix: move region codes to area settings
  backend/src/config/settings.py
  backend/src/services/google_api_service.py
Due: backend

Refactor e2e
  .github/workflows/ci-cd.yml
  backend/tests/unit/services/test_google_api_service.py
  e2e/playwright.config.ts
  e2e/playwright/package-lock.json
  e2e/playwright/package.json
  e2e/playwright/playwright.config.ts
  tasks.py
Due: none

fix ci-cd.yml
  .github/workflows/ci-cd.yml
  e2e/playwright/playwright.config.ts
Due: none

small fix
  .github/workflows/ci-cd.yml
  e2e/playwright/playwright.config.ts
Due: none

fix ci-cd
  .github/workflows/ci-cd.yml
Due: none

Leave e2e out of workflows
  .github/workflows/ci-cd.yml
Due: none

Fix ci-cd.yml
  .github/workflows/ci-cd.yml
Due: none

Update Readme for E2E tests
  README.md
Due: none

Change docker command in tasks
  tasks.py
Due: none

feat: update area settings and populate script for new locations #317
  backend/preprocessor/traffic_influence.py
  backend/src/config/settings.py
  backend/src/endpoints/areas.py
  backend/tests/unit/config/test_settings.py
  setup.sh
Due: backend

fix: autofill suggestions dont have doubles now and the test are passing
  backend/src/endpoints/geocode.py
  backend/src/utils/poi_utils.py
  backend/tests/unit/utils/test_poi_utils.py
Due: backend
